.module{
    border: 1px solid #e6e6e6;
}

.span2.quotes-counter{
	width: 130px;
}

#main-header .toolbar #my-account-menu{
	z-index: 1000;
}

.empty-set-placeholder .span4.actions{
	width: 328px;
}

.empty-set-placeholder .span3.actions{
	width: 238px;
}


.modal.modal-my-account .tabs-left.edit-mode > .nav-tabs > li a > span {
	display: none;
}

 .uploader-accordion .accordion-body .overlay{
	background: #d6d6d6;
}