html{
  min-height: 100%;
}

body{
  font-weight: $font-weight-base;
  padding-bottom: 100px;

}

//opera is buggy? no chrome is buggy! really strange fix
fieldset{
  width: 100%;
  //Thanks to johan@holmweb.se for that fix
  min-width: 0;
}

form{
  margin-bottom: 0;
}

