<div class="modal modal-iconic modal-contact" id="myModal" style="display:none;">
	<div class="modal-header">
		<h3 data-localize="modules.quotes.quote-has-been-accepted">Quote has been accepted</h3>
		<div class="icon-wrapper">
			<i class="icon icon-info"></i>
		</div>
		<button data-dismiss="modal" class="close" type="button"><i class="icon icon-modal-close"></i></button>
	</div>
	<div class="modal-body">
		<div class="content">
			<a class="btn btn-default btn-large"  data-dismiss="modal"><span data-localize="modules.quotes.ok-got-it">Ok, got it</span></a>

		</div>
	</div>
</div>