<% if(quote.isSingleQuote === false) { %><span data-localize="modules.quotes.quotes-options">Quote options:</span><% } %>
<% if(quote.name.length>0) { %>
<% if(quote.name.length>58){ %>
<span title="<%= quote.name %>" rel="tooltip"><%= quote.name.substr(0,55)+"..." %></span>
<% } else{ %>
<%= quote.name %>
<% } %>
<% }else { %>
<%= quote.idNumber %>
<% } %>