<div class="module module-quote module-single-view quote-pending"
					quoteID="<%= quote.idNumber %>"
					quoteID2="<%= quote.id %>"
					quote-status="<%= quote.status %>"
					quote-agreed="<%= quote.totalAgreed.formattedAmount %>">
	<div class="content">
		<section class="status-information">
			<div class="content">
				<div class="field field-info"
									data-localize="modules.quotes.offer-rejected">This offer has been rejected. If you reconsidered, contact your Account Manager.
				</div>

				<% if(quote.autoAccept) { %>
				<div class="field field-offer-meta">
					<span class="auto-accept-info"><i class="icon-info-small"></i>
						<span date-localize="modules.quotes.auto-accept-note">When received, the offer will be auto-accepted.</span></span>
				</div>
				<% } %>

			</div>
		</section>
		<div class="content-wrapper">


			<section class="tabs">
				<ul class="nav nav-tabs" id="myTab">
					<% if(quote.hasInputWorkfiles) { %>
					<li class="active"><a class="files-tab-link" tab="files"><i class="icon-files"></i>
						<span data-localize="general.files">Files</span></a></li>
					<% }else { %>
					<li class="disabled"><i class="icon-files"></i> <span data-localize="general.no-files">No files</span></li>
					<% } %>

					<% if(sessionObject.showResources !== false) { %>
					<% if(quote.hasInputResources) { %>
					<li
					<% if(!quote.hasInputWorkfiles) { %> class="active" <% } %>><a class="files-tab-link"
																																																																				tab="resources"><i class="icon-resources"></i> <span
					data-localize="general.resources">Resources</span></a></li>

					<% } else { %>
					<li class="disabled"><i class="icon-resources"></i> <span data-localize="general.no-resources">No resources</span>
					</li>
					<% } %>
					<% } %>
				</ul>
				<div class="tab-content">
					<% if(quote.hasInputWorkfiles) { %>
					<div class="tab-pane active content-files">

					</div>
					<% } %>
					<% if(quote.hasInputResources) { %>
					<div class="tab-pane active content-resources">

					</div>
					<% } %>

				</div>

			</section>

		</div>

	</div>


</div>