.idea
production.js
src/main/webapp/src/main-app/utils/login_p.js
src/main/webapp/src/main-app/utils/raq_p.js
src/main/webapp/src/main-app/utils/utils_p.js
src/main/webapp/src/node_modules/
src/main/webapp/src/target
atlassian-ide-plugin.xml
x-custom-{client_name}-CP-customer-portal.iml
target/
target-grunt/
src/main/webapp/dest
src/main/webapp/src/target
src/main/webapp/src/main-app/static/css/main.min.css
src/main/webapp/src/sign-in-app/bower_components
src/main/webapp/src/.tmp/
src/main/webapp/src/.sass-cache/
src/main/webapp/src/yarn.lock
.classpath
.project
.settings/
dest
