<div class="empty-set-placeholder module-invoices">
    <div class="span12 active-counter active-counter-search">
        <div class="counter">
	        <span><span data-localize="general.no-items-to-display">No items to display.</span> <a data-localize="general.want-to-clear-your-search-criteria" class="clear-criteria">Want to clear you search criteria?</a></span>
        </div>
    </div>
</div>