<div class="modal-footer">
    <a class="btn btn-cta new-contact-person" 
        rel="tooltip" 
        data-original-title="This option is not available because signing in to this portal is allowed only with a single sign-on (SSO) service. Contact your Account Manager in order to add a Contact Person and set up their SSO credentials." 
        data-placement="top" 
        data-localize-2="public.tooltips.only-sso-sign-in-contact">+ 
        <span data-localize="modules.my-account.add-new-contact-person">Add new contact person</span>
    </a>
</div>