<section id="locale-info">
    <header>
        <h2 data-localize="modules.my-account.locale-information">Locale information</h2>
    </header>
    
    <div class="content">
        <form class="" id="locale-info-form" action="" method="">
            <div class="control-group">
                <label class="control-label" for="language-select" data-localize="modules.my-account.language">Language</label>
                <div class="controls">
                    <select id="language-select" class="chosen-process" data-placeholder="Select language" data-localize-2="modules.my-account.select-language">
                        <% $.each(this.locales, function(i, locale){ %>
                        <option value="<%= locale.id %>"><%= locale.name %></option>
                        <% }) %>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="timezone-select" data-localize="modules.my-account.timezone">Timezone</label>
                <div class="controls">
                    <select id="timezone-select" class="chosen-process" data-placeholder="Select timezone" data-localize-2="modules.my-account.select-timezone">
                        <% $.each(this.timeZones, function(i, timeZone){ %>
                        <option value="<%= timeZone.id %>"><%= timeZone.fullName %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
        </form>
    </div>
</section>

<section id="pass-info">    
    <header>
        <h2 data-localize="modules.my-account.password-change">Password change</h2>
    </header>
    <div class="content">
        <div id="pass-placeholder">
            <div class="control-group">
                <div class="controls">
                    <span>• • • • • •</span>
                    <a class="btn btn-mini btn-change" 
                        rel="tooltip" 
                        data-original-title="This option is not available because signing in to this portal is allowed only with a single sign-on service." 
                        data-placement="top" 
                        data-localize-2="public.tooltips.only-sso-sign-in">
                        <span data-localize="modules.my-account.change-password">Change password</span>
                    </a>
                </div>
            </div>
        </div>

        <form class="form-horizontal hidden" id="pass-change-form" >
            <div class="form-wrapper">
                <div class="control-group">
                    <label class="control-label" for="language-select" data-localize="modules.my-account.old-password">Old password</label>
                    <div class="controls">
                        <input type="password" id="old-pass" class="mini">
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="language-select" data-localize="modules.my-account.new-password">New password</label>
                    <div  class="controls">
                        <input type="password" id="new-pass1" class="mini">
                    </div>
                </div>
               
                <div class="control-group">
                    <label class="control-label" for="language-select" data-localize="modules.my-account.new-password-again">New password again</label>
                    <div class="controls">
                        <input type="password" id="new-pass2" class="mini">
                    </div>
                </div>
                <div class="control-group" id="password-submit">
                    <div class="controls">
                        <button class="btn btn-mini btn-next disabled" data-localize="modules.my-account.save-new-password">Save new password</button>
                        <button class="btn btn-mini btn-cancel" data-localize="general.cancel">Cancel</button>
                    </div>
                </div>                            
            </div>
            <div class="password-hints">
            </div>
        </form>
    </div>
</section>