<div class="delete-overlay">
                                    <div class="bg"></div>
                                    <span><span data-localize="modules.my-account.sure-to-delete-account">Are you sure you want to delete this account?</span><br>
                                        <a class="btn btn-mini btn-yes" data-localize="modules.my-account.yes">Yes</a><a class="btn btn-mini btn-no" data-localize="modules.my-account.no">No</a></span>
                                </div>