<div class="delete-overlay">
                                 <div class="bg"></div>
                                    <span><span data-localize="modules.my-account.error-while-deleting-cp">Contact cannot be deleted. It is used in other parts of the system.</span><br>
                                        
                                </div>