<div class="modal modal-fixed-top modal-process modal-my-account" id="bigModal" style="display:none;">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">× <span data-localize="general.close">Close</span></button>
		<h3><span data-localize="modules.my-account.account-preferences">Account preferences</span></h3>
	</div>


	<div class="modal-body">


		<div class="tabbable" id="my-account-tabs">
			<ul class="nav nav-tabs">
				<li><a data-toggle="tab" tab="settings"><span><i class="icon-ma-as"></i></span> <span
					data-localize="modules.my-account.settings">Settings</span></a></li>
				<li><a data-toggle="tab" tab="my-profile"><span><i class="icon-ma-pi"></i></span> <span
					data-localize="modules.my-account.my-profile">My profile</span></a></li>
				<li><a data-toggle="tab" tab="company-info"><span><i class="icon-ma-ci"></i></span> <span
					data-localize="modules.my-account.company">Company</span></a></li>
				<% if(permissionsTable['persons_browse']==1){ %>
				<li><a data-toggle="tab" tab="contact-persons"><span><i class="icon-ma-cp"></i></span> <span
					data-localize="modules.my-account.contact-persons">Contact persons</span></a></li>
				<% } %>


			</ul>

			<div class="tab-content">
				<div class="tab-pane " id="settings" tab="settings">
					<div class="wrapper"></div>
				</div>
				<div class="tab-pane" id="id-data" tab="my-profile">
					<div class="wrapper"></div>
				</div>
				<div class="tab-pane" id="company-data" tab="company-info">
					<div class="wrapper"></div>
				</div>

				<div class="tab-pane" id="contact-channels" tab="contact-persons">
					<div class="wrapper"></div>
				</div>
			</div>

		</div>
	</div>


</div>