<% if(typeof passwordStrength != 'undefined') { %>

<% if(passwordStrength.minLength>0) { %>
<div class="alert alert-message alert-error pass-length"><i class="icon-error"></i> <span data-localize="modules.my-account.pass-length-hint-0" class="pass-length-hint">Password must contain {0} characters or more</span></div>
<% } %>
<% if(passwordStrength.lowerLetter) { %>
<div class="alert alert-message alert-error pass-l-letter"><i class="icon-error"></i> <span data-localize="modules.my-account.pass-lowercase-hint">Password must contain at least 1 lowercase letter</span></div>
<% } %>
<% if(passwordStrength.upperLetter) { %>
<div class="alert alert-message alert-error pass-u-letter"><i class="icon-error"></i> <span data-localize="modules.my-account.pass-uppercase-hint">Password must contain at least 1 uppercase letter</span></div>
<% } %>
<% if(passwordStrength.digit) { %>
<div class="alert alert-message alert-error pass-numeral"><i class="icon-error"></i> <span data-localize="modules.my-account.pass-numeral-hint">Password must contain at least 1 numeral</span></div>
<% } %>
<% if(passwordStrength.specialChar) { %>
<div class="alert alert-message alert-error pass-special"><i class="icon-error"></i> <span data-localize="modules.my-account.pass-special-char-hint">Password must contain at least 1 special character</span></div>
<% } %>

<% if(passwordStrength.notContainLogin) { %>
<div class="alert alert-message alert-error pass-not-login"><i class="icon-error"></i> <span data-localize="modules.my-account.pass-not-contain-login">Password must not contain login</span></div>
<% } %>

<div class="alert alert-message alert-error pass-matches"><i class="icon-error"></i> <span data-localize="modules.my-account.pass-match-hint">Password matches</span></div>

<% } else { %>
<div class="alert alert-message alert-error pass-length"><i class="icon-error"></i> <span data-localize="modules.my-account.pass-length-hint">Password must contain 8 characters or more</span></div>
<div class="alert alert-message alert-error pass-l-letter"><i class="icon-error"></i> <span data-localize="modules.my-account.pass-lowercase-hint">Password must contain at least 1 lowercase letter</span></div>
<div class="alert alert-message alert-error pass-u-letter"><i class="icon-error"></i> <span data-localize="modules.my-account.pass-uppercase-hint">Password must contain at least 1 uppercase letter</span></div>
<div class="alert alert-message alert-error pass-numeral"><i class="icon-error"></i> <span data-localize="modules.my-account.pass-numeral-hint">Password must contain at least 1 numeral</span></div>
<div class="alert alert-message alert-error pass-special"><i class="icon-error"></i> <span data-localize="modules.my-account.pass-special-char-hint">Password must contain at least 1 special character</span></div>
<div class="alert alert-message alert-error pass-matches"><i class="icon-error"></i> <span data-localize="modules.my-account.pass-match-hint">Password matches</span></div>

<% } %>