footer.public-footer {
	z-index: 3;
	position: fixed;
	bottom: 0;
	min-height: 70px;
	width: 100%;
	border-top: 1px solid transparent;
	overflow: hidden;
	@include transition(all 1s);
	background: none;

	.footer-logo-wrapper {
		width: 80px;
		height: 20px;
		display: block;
		bottom: 24px;
		left: 25px;
		padding: 0;
		position: fixed;
		.xtrf-footer-logo {
			width: 80px;
			height: 20px;
			background: url("../images/xtrf_logo_color.png");
		}
	}

	.language-wrapper {
		line-height: 70px;
		float: right;
		display: block;
		margin-right: 25px;
		.language-select {
			display: inline-block;
			margin-left: 10px;
		}

	}

}