<div public-content-box class="public-content-box">
	<div class="content">
		<div public-content-box-header></div>
		<div class="body">
			<div class="wrapper">
				<alerts context="public"></alerts>
				<form name="sendResetPasswordEmailForm" ng-show="!resetPasswordEmailSent">
					<fieldset>
						<h3 translate>public.forgotten-password.title</h3>

						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-user"></i>
								</span>
								<input class="form-control"
								       id="username"
								       type="text"
								       name="uUsername"
								       ng-model="username"
								       placeholder="{{ 'public.sign-in.email-username' | translate }}"
								       auto-fill-sync
								       tabindex="1"
								       required>
							</div>
						</div>
					</fieldset>
					<div>
						<button class="btn btn-success pull-left"
						        loading="{{ sendingInProgress }}"
						        ng-click="!sendingInProgress && sendResetPasswordEmail()"
						        ng-disabled="sendResetPasswordEmailForm.$invalid"
						        tabindex="3">
							<span translate>
								public.actions.send-password-reset-email
							</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
