<div public-content-box class="public-content-box">
	<div class="content">
		<div public-content-box-header></div>
		<div class="body">
			<div class="wrapper">
				<alerts context="public"></alerts>
				<form name="resetPasswordForm" ng-show="showResetPasswordForm">
					<fieldset>
						<h3 translate>public.reset-password.title</h3>

						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-user"></i>
								</span>
								<input class="form-control"
								       id="username"
								       type="text"
								       name="uUsername"
								       ng-model="username"
								       placeholder="{{ 'public.sign-in.email-username' | translate }}"
								       auto-fill-sync
								       tabindex="1"
								       disabled>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-lock"></i>
								</span>
								<password-with-preview password="password"
								                       password-placeholder="'public.sign-in.new-password'"
								                       password-required="true"></password-with-preview>
							</div>
							<password-strength-indicator login="username" ng-model="password"></password-strength-indicator>
						</div>
					</fieldset>
					<div>
						<button class="btn btn-success pull-left"
						        loading="{{ resettingInProgress }}"
						        ng-click="!resettingInProgress && resetPassword()"
						        ng-disabled="resetPasswordForm.$invalid"
						        tabindex="3">
							<span translate>
								public.actions.change-password
							</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
