<div data-status="restricted" class="module module-widget-new module-quotes">
                <header>
                  <span><a data-localize="<%= localizeHeader %>"><% if(typeof widgetName != 'undefined') { %><%= widgetName %><% } else { %>Error<% } %></a></span>
                  <span class="tools">
                    <% if(dashboards.options.IE8==false){ %> <a class="widget-detach"><i class="icon-widget-detach"><%== $.View("templates/layouts/icons/x_icon.ejs",{}) %></i></a> <% } %>
                  </span>
                </header>
                <section class="content">
                      <div class="empty-set-placeholder">
                          <div class="restricted-info">
                            <h3 data-localize="general.sorry-cant-show">Sorry, we cannot show it to you</h3>
                          </div>
                          
                      </div>   
                </section>
              </div>