<div data-status="restricted" class="module module-widget-new module-quotes">
                <header>
                  <span><% if(typeof widgetName != 'undefined') { %><a data-localize="<%= localizeHeader %>"><%= widgetName %></a><% } else { %><a data-localize="modules.dashboard.access-denied">Access denied</a><% } %></span>
                  <span class="tools">
                    <% if(dashboards.options.IE8==false){ %> <a class="widget-detach"><i class="icon-widget-detach"><%== $.View("templates/layouts/icons/x_icon.ejs",{}) %></i></a> <% } %>
                  </span>
                </header>
                <section class="content">
                      <div class="empty-set-placeholder">
                          <div class="restricted-info">
                            <h3 data-localize="general.sorry-cant-show">Sorry, we cannot show it to you</h3>
                          </div>
                          
                      </div>   
                </section>
              </div>