<div data-status="empty" class="module module-widget-new module-report">
                <header>
                  <span><a data-localize="<%= localizeHeader %>">Reports</a></span>
                  <span class="tools">
                    <% if(dashboards.options.IE8==false){ %> <a class="widget-detach"><i class="icon-widget-detach"><%== $.View("templates/layouts/icons/x_icon.ejs",{}) %></i></a> <% } %>
                  </span>
                </header>
                <section class="content">
                  <div class="note"><span data-localize="general.sorry-cant-show">Sorry, we cannot show it to you</span></div>
                </section>
              </div>