<div class="module module-widget-new module-quotes">
                <header>
                  <span><a>Quotes waiting for your acceptance</a></span>
                  <span class="tools">
                    <% if(dashboards.options.IE8==false){ %> <a class="widget-detach"><i class="icon-widget-detach"><%== $.View("templates/layouts/icons/x_icon.ejs",{}) %></i></a> <% } %>
                  </span>
                </header>
                <section id="test-c" class="content">
                <ul class="entity-list">
                  <li class="quote-wfa">
                    <span class="name"><a>test quote name</a></span>
                    <span class="info">
                      <big>$456</big>
                      <a class="btn btn-mini btn-ncta">Accept</a>
                      <a class="preview-link" href=""><i class="icon-preview"></i></a>
                    </span>
                  </li>
                  
                  <li class="quote-wfa">
                    <span class="name"><a>test quote name</a></span>
                    <span class="info">
                      <big>$456</big>
                      <a class="btn btn-mini btn-ncta">Accept</a>
                      <a class="preview-link" href=""><i class="icon-preview"></i></a>
                    </span>
                  </li>
                  <li class="quote-wfa">
                    <span class="name"><a>test quote name</a></span>
                    <span class="info">
                      <big>$456</big>
                      <a class="btn btn-mini btn-ncta">Accept</a>
                      <a class="preview-link" href=""><i class="icon-preview"></i></a>
                    </span>
                  </li>
                  <li class="quote-wfa">
                    <span class="name"><a>test quote name</a></span>
                    <span class="info">
                      <big>$456</big>
                      <a class="btn btn-mini btn-ncta">Accept</a>
                      <a class="preview-link" href=""><i class="icon-preview"></i></a>
                    </span>
                  </li>
                  <li class="quote-wfa">
                    <span class="name"><a>test quote name</a></span>
                    <span class="info">
                      <big>$456</big>
                      <a class="btn btn-mini btn-ncta">Accept</a>
                      <a class="preview-link" href=""><i class="icon-preview"></i></a>
                    </span>
                  </li>
                  <li class="quote-wfa">
                    <span class="name"><a>test quote name</a></span>
                    <span class="info">
                      <big>$456</big>
                      <a class="btn btn-mini btn-ncta">Accept</a>
                      <a class="preview-link" href=""><i class="icon-preview"></i></a>
                    </span>
                  </li>

                </ul>
                </section>
              </div>