<div class="module module-widget-new module-report">
                <header>
                  <span><a data-localize="<%= localizeHeader %>" class="report-name" href="#!report/<%= reportID %>/chart"><%= widgetName %></a></span>
                  <span class="tools">
                    <% if(dashboards.options.IE8==false){ %> <a class="widget-detach"><i class="icon-widget-detach"><%== $.View("templates/layouts/icons/x_icon.ejs",{}) %></i></a> <% } %>
                  </span>
                </header>
                <section class="content">
                	
                </section>
              </div>