<div class="modal modal-iconic modal-error2" id="myModal" style="display:none;">
                <div class="modal-header">
                   <h3 data-localize="general.error">Error</h3>
                    <div class="icon-wrapper">
                    	<i class="icon icon-error"></i>
                    </div>
                    <button data-dismiss="modal" class="close" type="button"><i class="icon icon-modal-close"></i></button>
                </div>

                <div class="modal-body">
                     <div class="content" data-localize="general.generic-error-message">
                       Sorry, some uncaught error appeared. Please try later or contact your administrator.
                   </div>
                </div>

                
            </div>