<div class="modal modal-iconic modal-error2" id="myModal" style="display:none;">
    <div class="modal-header">
        <h3 data-localize="general.error">Error</h3>
        <div class="icon-wrapper">
            <i class="icon icon-error"></i>
        </div>
        <button data-dismiss="modal" class="close" type="button"><i class="icon icon-modal-close"></i></button>
    </div>

    <div class="modal-body">
        <div class="content" data-localize="general.google-charts-error-message">
            Sorry, we're unable to connect google.com so we can't display charts.
        </div>
    </div>


</div>