            
<div class="modal modal-iconic modal-contact" id="myModal" style="display:none;">
                <div class="modal-header">
                   <h3 data-localize="general.session-expired">Session expired</h3>
                    <div class="icon-wrapper">
                    	<i class="icon icon-info"></i>
                    </div>
                    <button data-dismiss="modal" class="close" type="button"><i class="icon icon-modal-close"></i></button>
                </div>

                <div class="modal-body">
                     <div class="content" >
                       <div data-localize="general.error-session-exp">We are sorry, but your session has expired. Please login again.</div>
                       <br/>
                       <a class="btn btn-primary btn-large" href="index.html" data-localize="general.login-pz">Login to Partner Zone</a>
                   </div>
                </div>

                
            </div>