<div data-status="empty" class="module module-widget-new module-quotes module-stats">
	<header>
		<span><a <% if(permissionsTable['quotes_browse']==1){ %> href="#!quotes/active/1" <% } %> data-localize="<%= localizeHeader %>" >Quotes statistics</a>
		</span>
		<span class="tools">
			<% if(dashboards.options.IE8==false){ %> <a class="widget-detach"><i class="icon-widget-detach"><%== $.View("templates/layouts/icons/x_icon.ejs",{}) %></i></a> <% } %>
		</span>
	</header>
	<section class="content">
		<div class="stat-counter waiting-quotes">
			<span data-localize="modules.dashboard.x-quotes-waiting">
				{0} quotes waiting for your approval
			</span>


		</div>
		<div class="stat-counter active-quotes">
			<span data-localize="modules.dashboard.x-active-quotes">
				{0} active quotes
			</span>


		</div>
	</section>
</div>