<div class="modal-body overview">
                <div class="content content-overview tour-s02">
                    <div class="top-bar">
                        <header>
                            <h2><i class="triangle"></i><i class="icon-dashboard-overview icon-overview"></i> <span data-localize="sections.dashboard">Dashboard</span></h2>
                            <a href="#!" class="section-direct-link" data-localize="modules.tour.step2.go-to-dashboard">Go to dashboard now!</a>
                        </header>
                        <a class="btn-close" data-dismiss="modal"></a>

                    </div>

                        <div class="content-wrapper">
                            <h3 data-localize="modules.tour.step2.header">The heart of your Partner Zone!</h3>
                            <p data-localize="modules.tour.step2.description">With available widgets you can get an instant overview of your requested quotes, active projects and more!</p>
                            <p>
                                <ul>
                                    <li data-localize="modules.tour.step2.list1">Quick access to ongoing projects and active quotes</li>
                                    <li data-localize="modules.tour.step2.list2">Instant contact with yout account responsibles</li>
                                    <li data-localize="modules.tour.step2.list3">Favorite reports at you fingertips</li>
                                    <li data-localize="modules.tour.step2.list4">... and even more to come!</li>
                                </ul>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="modal-footer" id="tour-step-2">
                    <a class="back-link pull-left btn-back btn btn-small"><i class="icon-previous-step"></i></a>  
                    <div class="tools">
                        <a class="btn btn-small btn-forward"><span data-localize="modules.tour.step2.quotes-overview">Quotes overview</span> <i class="icon-forward-step"></i></a>

                        <a class="skip-link" data-dismiss='modal' data-localize="modules.tour.skip-partner-zone-tour">Skip Partner Zone tour</a>

                    </div>
                </div>