 <div class="modal-body overview">
                <div class="content content-overview tour-s06">
                    <div class="top-bar">
                        <header>
                            <h2><i class="triangle"></i><i class="icon-reports-overview icon-overview"></i> <span data-localize="sections.reports">Reports</span></h2>
                            <% if(permissionsTable['reports_browse']==1){ %><a href="#!reports/1" class="section-direct-link" data-localize="modules.tour.step6.go-to-reports">Go to reports now!</a><% } %>
                        </header>
                        <a class="btn-close" data-dismiss="modal"></a>

                    </div>

                        <div class="content-wrapper">
                            <h3 data-localize="modules.tour.step6.header">Business reporting</h3>
                            <p>
                                <ul>
                                    <li data-localize="modules.tour.step6.list1">Key performance indicators</li>
                                    <li data-localize="modules.tour.step6.list2">Values of quotes and projects</li>
                                    <li data-localize="modules.tour.step6.list3">Current invoices tracking</li>
                                    <li data-localize="modules.tour.step6.list4">And many more to come!</li>
                                </ul>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="modal-footer" id="tour-step-6">
                    <a class="back-link pull-left btn-back btn btn-small"><i class="icon-previous-step"></i></a>  
                    <div class="tools">
                        <a class="btn btn-small btn-forward" data-dismiss="modal" data-localize="general.close">Close</a>


                    </div>
                </div>