<div class="modal-body">
	<div class="content tour-s00" id="tour-step-0">
		<div class="intro">
			<div class="column pull-left">
				<h2 data-localize="modules.tour.step0.welcome-to-pz"></h2>
			</div>
			<div class="column pull-right">
				<img src="" onerror="setDefaultLogo(this)">
			</div>
		</div>
		<div class="company-contacts-slider">
			<div class="column pull-left" data-localize="modules.tour.step0.your-account-manager">
				Your Account Manager
			</div>
			<div class="column pull-right slider">
				<div class="contact-info sliding-element active">
					<div class="profile-pic pull-left" class="contact-details" user="<%= salesData.salesPerson.id %>"><img
						src="<%= salesData.salesPerson.avatar %>" onerror="setDefaultAvatar2(this)"></div>
					<div class="details">
						<span class="name"><%= salesData.salesPerson.name %></span>
						<div class="job-title"><%= salesData.salesPerson.position %></div>
					</div>
				</div>
			</div>
		</div>
		<div class="tour-wrapper">
			<a class="btn btn-large btn-next" data-localize="modules.tour.step0.start-pz-tour">Start partner zone tour</a>
		</div>
	</div>
</div>
<div class="modal-footer">
	<a target="_blank" href="https://www.xtrf.eu/?utm_source=xtrf_portal&utm_medium=xtrf_portal_link&utm_campaign=client_portal" class="xtrf-logo pull-left"></a>
	<% if(permissionsTable['change_account_settings']==1){ %>
	<label class="checkbox startup-show">
		<input type="checkbox" id="tour-startup-show"><span data-localize="modules.tour.step0.show-tour-on-startup">Show tour on startup</span></label>
	<% } %>
	<div class="tools">
		<a class="btn btn-small" data-dismiss='modal' data-localize="general.close">Close</a>
	</div>
</div>