<div class="modal-body overview">
                <div class="content content-overview tour-s03">
                    <div class="top-bar">
                        <header>
                            <h2><i class="triangle"></i><i class="icon-dashboard-overview icon-overview"></i> <span data-localize="sections.quotes">Quotes</span></h2>
                            <% if(permissionsTable['quotes_browse']==1){ %><a href="#!quotes/active/1" class="section-direct-link" data-localize="modules.tour.step3.go-to-quotes">Go to quotes now!</a><% } %>
                        </header>
                        <a class="btn-close" data-dismiss="modal"></a>

                    </div>

                        <div class="content-wrapper">
                            <h3 data-localize="modules.tour.step3.request-a-quote">Request a quote</h3>
                            <p data-localize="modules.tour.step3.description1">By filling a simple and intuitive form your request will be presented to our Project Managers that will prepare a quote for you.</p>
                            <h3 data-localize="modules.tour.step3.track-your-requests">Track your requests!</h3>
                            <p data-localize="modules.tour.step3.description2">View your quote request satatus and accept offers as soon as they are prepared by our Project Managers! </p>
                        </div>

                    </div>
                </div>

                <div class="modal-footer" id="tour-step-3">
                    <a class="back-link pull-left btn-back btn btn-small"><i class="icon-previous-step"></i></a>  
                    <div class="tools">
                        <a class="btn btn-small btn-forward"><span data-localize="modules.tour.step3.projects-overview">Projects overview</span> <i class="icon-forward-step"></i></a>

                        <a class="skip-link" data-dismiss='modal' data-localize="modules.tour.skip-partner-zone-tour">Skip Partner Zone tour</a>

                    </div>
                </div>