 <div class="modal-body overview">
                <div class="content content-overview tour-s04">
                    <div class="top-bar">
                        <header>
                            <h2><i class="triangle"></i><i class="icon-projects-overview icon-overview"></i> <span data-localize="sections.projects">Projects</span></h2>
                            <% if(permissionsTable['projects_browse']==1){ %><a href="#!projects/active/1" class="section-direct-link" data-localize="modules.tour.step4.go-to-projects">Go to projects now!</a><% } %>
                        </header>
                        <a class="btn-close" data-dismiss="modal"></a>

                    </div>

                        <div class="content-wrapper">
                            <h3 data-localize="modules.tour.step4.header">All projects on your fingertips!</h3>
                            <p data-localize="modules.tour.step4.description">With our simple and organized projects view tracking your translation projects is as easy as tic-tac-toe!</p>
                            <p>
                                <ul>
                                    <li data-localize="modules.tour.step4.list1">Instantly contact your PM</li>
                                    <li data-localize="modules.tour.step4.list2">Browse source and result files and download them individually or as a ZIP file!</li>
                                    <li data-localize="modules.tour.step4.list3">View project’s tasks and track progress</li>
                                    <li data-localize="modules.tour.step4.list4">Control your budget</li>
                                </ul>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="modal-footer" id="tour-step-4">
                    <a class="back-link pull-left btn-back btn btn-small"><i class="icon-previous-step"></i></a>
                    <div class="tools">
																					<% if(permissions.hasAccessToInvoices()){ %>
                        <a class="btn btn-small btn-forward"><span data-localize="modules.tour.step4.invoices-overview">Invoices overview</span> <i class="icon-forward-step"></i></a>
																					<% } else { %>
																					<a class="btn btn-small btn-forward"><span data-localize="modules.tour.step5.reports-overview">Reports overview</span> <i class="icon-forward-step"></i></a>
																					<% } %>
                        <a class="skip-link" data-dismiss='modal' data-localize="modules.tour.skip-partner-zone-tour">Skip Partner Zone tour</a>

                    </div>
                </div>