<div class="responsible-select loading" id="responsible-change" style="display: none;">
    <div class="content active" data-state="list">
        <header class="search-field">
            <input type="text" placeholder="Search..." data-localize-2="general.search" class="search-person"/>
        </header>
        <ul class="contacts-list">

        </ul>
        <% if(permissionsTable['person_add']==1){ %>
        <div class="actions">
            <a class="add-contact cta-link" href="" data-localize="general.add-new-contact-person">Add new contact person</a>
        </div>
        <% } %>
    </div>
    
    <% if(permissionsTable['person_add']==1){ %>
        <div class="content" data-state="add-form" style="display: none;">
            <header class="search-field">
                <h3><i class="icon icon-contact-add"></i> <span data-localize="modules.quotes.add-contact-person">Add contact person</span></h3>
            </header>
            <form>
                <div class="control-group">
                    <label class="control-label" for="" data-localize="modules.my-account.first-name">First name</label>
                    <input type="text" id="contact-first-name">
                </div>
                <div class="control-group">
                    <label class="control-label" for="" data-localize="modules.my-account.last-name">Last name</label>
                    <input type="text" id="contact-last-name">
                </div>
                <div class="control-group">
                    <label for="" data-localize="modules.my-account.e-mail">E-mail</label>
                    <input type="text" id="contact-email">
                </div>
            </form>
            <div class="actions">
                <a class="btn btn-mini btn-cta disabled" id="add-person" data-localize="general.create-contact-person">Create contact person</a>
                <a class="cta-link" id="cancel-creator" data-localize="general.cancel">Cancel</a>
            </div>
        </div>
    <% } %>
    
    <div class="loader"></div>
</div>