<section class="cr-final-accept">
    <div class="info warning"><i class="icon icon-warning"></i> <span data-localize="modules.tasks.review-finish-warning">You are going to finish this review. This action cannot be undone!</span></div>
    
    <div class="actions">
        <a class="cta-link cancel-acceptance" data-localize="general.cancel">Cancel</a> <a class="btn btn-small btn-cta accept-review" data-localize="modules.tasks.ok-finish">Ok, finish</a>
    </div>
</section>