$alert-padding-vertical: 15px !default;
$alert-padding-horizontal: 25px !default;
$alert-border-radius: $border-radius-base !default;
$alert-link-font-weight: bold !default;

$alert-success-bg: $state-success-bg !default;
$alert-success-text: $state-success-text !default;
$alert-success-border: $state-success-border !default;

$alert-info-bg: $state-info-bg !default;
$alert-info-text: $state-info-text !default;
$alert-info-border: $state-info-border !default;

$alert-warning-bg: $state-warning-bg !default;
$alert-warning-text: $state-warning-text !default;
$alert-warning-border: $state-warning-border !default;

$alert-danger-bg: $state-danger-bg !default;
$alert-danger-text: $state-danger-text !default;
$alert-danger-border: $state-danger-border !default;

@mixin alert-variant($background, $border, $text-color) {
	background-color: $background;
	border-color: $border;
	color: $text-color;
	hr {
		border-top-color: darken($border, 5%);
	}
	.alert-link {
		color: $text-color;
	}
	a:not(.btn) {
		color: $text-color;
		border-color: $text-color;
	}
	a:not(.btn):hover {
		color: darken($text-color, 10%);
		border-color: darken($text-color, 10%);
	}
	a:not(.btn):disabled, a.disabled:not(.btn), a[disabled]:not(.btn) {
		color: $link-default-disabled-color;
		border-bottom: $link-default-disabled-border-bottom;
	}

	[class*="loading-"] {
		border-right-color: $border;
		border-top-color: $border;
	}
	.close-alert {
		color: $text-color;
	}
	.btn {
		margin: -4px 3px -3px;
	}
}

@mixin messageClose() {
	position: absolute;
	padding: 5px;
	cursor: pointer;
	background: rgba(0, 0, 0, 0);
	border: 0;
	-webkit-appearance: none;
	outline: none;
	font-weight: 100;
}

.alert {
	padding: $alert-padding-vertical $alert-padding-horizontal;
	margin-bottom: $line-height-computed;
	border: 1px solid transparent;
	border-radius: $alert-border-radius;
	position: relative;
	// Headings for larger alerts
	h4 {
		margin-top: 0;
		// Specified for the h4 to prevent conflicts of changing $headingsColor
		color: inherit;
	}
	// Provide class for links that match alerts
	.alert-link {
		font-weight: $alert-link-font-weight;
	}

	// Improve alignment and spacing of inner content
	> p,
	> ul {
		margin-bottom: 0;
	}
	> p + p {
		margin-top: 5px;
	}
	.close-alert {
		@include messageClose;
		font-size: 1.5em;
		right: 10px;
		top: 10px;
	}
	p.title{
		font-weight: 600;
	}
}

.alert-dismissable {
	padding-right: ($alert-padding-horizontal + 20);
	// Adjust close link position
	.close {
		position: relative;
		top: -2px;
		right: -21px;
		color: inherit;
	}
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
	@include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.alert-info {
	@include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

.alert-warning {
	@include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}

.alert-danger {
	@include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}