/*button normal */
$button-normal-border-color: $portal-accent-color;
$button-normal-text-color: #3b3b3b;
$button-normal-background-color: #fff;
$button-normal-border-radius: 3px;
$button-normal-loading-dark: #8d8d8d;
$button-normal-loading-light: $portal-accent-color;
$button-normal-hover-background-color: #f6f6f5;
$button-normal-hover-border-color: #969696;

/*button prominent */
$button-prominent-background-color: var(--mainComponentsPrimaryColor);
$button-prominent-hover-background-color: var(--mainComponentsPrimaryHoverColor);
$button-prominent-active-background-color: var(--mainComponentsPrimaryHoverColor);
$button-prominent-loading-dark: #8d8d8d;
$button-prominent-loading-light: #fff;

/*button danger*/
$button-danger-background-color: #c93001;
$button-danger-hover-background-color: #b91d11;
$button-danger-loading-dark: #de8266;
$button-danger-loading-light: #fff;

/*button disabled*/
$button-disabled-text-color: #c2c2c2;
$button-disabled-focus-text-color: #3b3b3b;
$button-disabled-background-color: #ebebeb;
$button-disabled-border-color: #e6e6e6;
$button-disabled-border: 1px solid $button-disabled-border-color;


.btn{
	@include transition(background-color .2s);
}

.btn,
.btn-dropdown {
	&:before{
		content:'';
		width:14px;
		height: 14px;
		margin: 0 auto;
		border-bottom: 2px solid $button-normal-loading-light;
		border-left: 2px solid $button-normal-loading-light;
		border-right: 2px solid $button-normal-loading-dark;
		border-top: 2px solid $button-normal-loading-dark;
		border-radius: 100%;

		-webkit-animation: spin 1.6s infinite linear;
		-moz-animation: spin 1.6s infinite linear;
		-ms-animation: spin 1.6s infinite linear;
		-o-animation: spin 1.6s infinite linear;
		animation: spin 1.6s infinite linear;
		display:none;
	}

	&.btn-loading{

		&:before{
			display:block;
		}
		>*{
			visibility: hidden;
		}
	}

}
.dropdown button.btn-dropdown{
	&:before {
		margin-top:5px;
	}
	&.btn-loading{
		padding: 1px 19.5px 1px 19.5px;
		&:disabled{
			border: 1px solid #969696;
			background-color: #f6f6f5;
			color: #3b3b3b;
		}
	}
}


.btn{
	min-width: 90px;
	height: 30px;
	font-size: 13px;
	padding: 6px 10px;
	line-height: 16px;

	border: 1px solid $button-normal-border-color;
	color: $button-normal-text-color;
	background-color: $button-normal-background-color;
	border-radius: ($button-normal-border-radius);

	>i{
		color:inherit;
	}


	&:hover{
		background-color: $button-normal-hover-background-color;
		color: $button-normal-text-color;
		border-color: $button-normal-hover-border-color;
	}
	&.focus, // this is used in file-uploader
	&:focus {
		background-color: $button-normal-hover-background-color;
		@include box-shadow(0px 0px 0 3px rgba(0,0,0,.12));
		color: $button-disabled-focus-text-color;
		outline: none;
		border-color: $button-normal-hover-border-color;
	}

	&.active {
		outline: 0;
		background-image: none;
		border-color: $button-normal-hover-border-color;
	}


	&.btn-lg{
		height: 34px;
		font-size: 13px;
		line-height: 18px;
		min-width: 100px;
		padding: 6px 12px;

	}

	&.btn-xl{
		min-width: 110px;
		height: 45px;
		font-size: 16px;
		padding: 0px 10px;
	}

	&.btn-sm{
		min-width: 80px;
		height: 26px;
		font-size: 11px;
		padding: 0px 10px;
	}

	&.btn-success {
		background-color: $button-prominent-background-color;
		border: 1px solid transparent;
		color: var(--mainComponentsFontColor);

		&:hover{
			background-color: $button-prominent-hover-background-color;
		}
		&:focus {
			background-color: $button-prominent-hover-background-color;
			outline: none;
		}
		&.btn-loading {
			&:before{
				border-bottom-color: $button-prominent-loading-dark;
				border-left-color: $button-prominent-loading-dark;
				border-right-color: $button-prominent-loading-light;
				border-top-color: $button-prominent-loading-light;
			}
		}
	}


	&.btn-danger {
		background-color: $button-danger-background-color;
		border: 1px solid transparent;
		color: $white;
		&:hover{
			background-color: $button-danger-hover-background-color;
		}
		&:focus {
			background-color: $button-danger-hover-background-color;
			outline: none;
		}
		&.btn-loading {
			&:before{
				border-bottom: 2px solid $button-danger-loading-dark;
				border-left: 2px solid $button-danger-loading-dark;
				border-right: 2px solid $button-danger-loading-light;
				border-top: 2px solid $button-danger-loading-light;
			}
			cursor: default;
		}
	}


}

.btn.disabled,
.btn-icon.disabled,
.btn[disabled],
fieldset[disabled] .btn{
	background-color: $button-disabled-background-color!important;
	color:$button-disabled-text-color;
	border: $button-disabled-border;
    cursor: default;

	&:hover,
	&:focus,
	&:active{
		background-color: $button-disabled-background-color;
		color:$button-disabled-text-color;
		border: $button-disabled-border;
	}

}

.ng-table-pager {
	.btn-group {
		.btn{
			min-width: 0;

			&:last-child{
				border-radius: (5px);
			}

			&.btn-success {
				&.active {
					background-color: $button-prominent-hover-background-color;
				}
			}
		}

		.btn:last-of-type {
			@include border-right-radius(3px!important);
		}

	}

}

.btn-icon {
	color: $portal-icon-init-color;
	border: 1px solid $button-normal-border-color;
	background: $button-normal-background-color;
	border-radius: $button-normal-border-radius;
	cursor: pointer;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 28px;
	text-align: center;
	font-size: 18px;
	@include user-select(none);

	&:hover {
		color: $portal-icon-hover-color;
		border-color: $button-normal-hover-border-color;
		text-decoration: none;
	}

	i {
		margin: 0;
		display: inline;
	}
}

.btn-icon.btn-sm {
	width: 26px;
	height: 26px;
	line-height: 23px;
	padding: 0;
}

.button-wrapper {
	display: inline-block;
	position: relative;
}
