<section class="module section-header projects-header">
	<header>
		<h2 data-localize="modules.projects.header">Projects</h2>
		<span class="tools">
			<form class="search" id="search-projects">
				<div class="search-input-wrapper">
					<input type="text" placeholder="Start date" name="startDate" class="datepicker" data-localize-2="general.start-date">
					<i class="close clear-datepicker" data-target="startDate"></i>
				</div>
				<div class="search-input-wrapper">
					<input type="text" placeholder="Deadline" name="deadline" class="datepicker" data-localize-2="general.deadline">
					<i class="close clear-datepicker" data-target="deadline"></i>
				</div>
				<div class="search-input-wrapper">
					<input type="text" placeholder="Search by id, name, ref number" data-localize-2="general.search-by-id-name-ref" name="id-and-name" class="search">
					<i class="close" id="clear-search"></i>
				</div>
				<button type="submit" class="btn right" data-localize="general.search-on-button">Search</button>
			</form>
			<div data-toggle="buttons-radio" class="btn-group view-switch">
				<a id="tab-active" class="btn left" tab="active" data-localize="general.active">Current</a>
				<a id="tab-history" class="btn right" tab="history" data-localize="general.history">Past</a>
			</div>
		</span>

	</header>
</section>