<%== $.View("templates/projects/projects_list_header.ejs",{}) %>
<section  class="content">
  <div class="empty-set-placeholder row">
    <div class="<% if(permissionsTable['request_quote']==1){ %> span8 <% } else { %> span12 <% } %> active-counter">
         <div class="counter">
        <% if(tab=="active") { %>
       <span data-localize="general.you-have-0-active-projects">You have {0} active projects</span>
        <% }else{ %>
        <span data-localize="general.you-have-0-archived-projects">You have {0} archived projects</span>
        <% } %>
    </div>
</div>
    <% if(permissionsTable['request_quote']==1){ %>
    <div class="span4 actions">
        <a class="btn btn-ncta btn-quote-request btn-large rap  <% if(permissionsTable['request_quote']==0){ %> disabled <% } %>">
            <i class="icon-pr-svg">
                <%== $.View("templates/layouts/icons/plus_icon.ejs",{}) %>
			</i> 
            <span data-localize="general.rap">Request a project</span>
        </a>
    </div>
    <% } %>
</section>
<% if(tab === 'history') { %>
<table class="projects table"></table>
<% } %>

