<div
    id="myModal"
    class="modal modal-proccess modal-change-office"
    style="display:none;">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            &times;
            <span data-localize="general.close">Close</span>
        </button>

        <h3>
            <i class="icon-qr-modal"></i>
            <span data-localize="general.change-office">Change a office</span>
        </h3>
    </div>

    <div class="modal-body">
        <div class="content" >
            <form
                action=""
                method=""
                autocomplete="on"
                class="form-horizontal">

                <div class="control-group">
                    <label class="control-label" for="select-office" data-localize="general.office">Office</label>
                    <div class="controls">
                        <select
                            id="select-office"
                            class="js-select2"
                            data-placeholder="Select office"
                            data-localize-2="general.select-office">
                            <option></option>
                            <% $.each(offices.sort(function(a,b) {return a.name.localeCompare(b.name);}), function(i, office){ %>
                            <option value="<%= office.name %>"><%= office.name %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="select-office" data-localize="general.price-profile">Price profile</label>
                    <div class="controls">
                        <select
                            id="select-price-profile"
                            class="js-select2"
                            data-placeholder="Select Price profile"
                            data-localize-2="general.select-price-profile">
                            <option></option>
                            <% $.each(priceProfiles.sort(function(a,b) {return a.name.localeCompare(b.name);}), function(i, priceProfile){ %>
                            <option value="<%= priceProfile.id %>"><%= priceProfile.name %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input
                                type="checkbox"
                                id="recalculate-price-profiles"
                                value="option1">
                            
                            <span data-localize="general.recalculate-price-profiles">
                                Recalculate Price Profiles
                            </span>
                        </label>
                    </div>
                </div>
            </form>
       </div>
    </div>

    <div class="modal-footer">
        <a class="btn btn-cta js-change-office-button">
            <span data-localize="general.save-changes">
                Save Changes
            </span>
        </a>
    </div>
</div>
