<div class="modal modal-iconic modal-contact" id="myModal">
                <div class="modal-header">
                    <h3 data-localize="modules.contact.quick-contact">Quick contact</h3>
                    <div class="icon-wrapper">
                    	<i class="icon icon-message"></i>
                    </div>
                    <button data-dismiss="modal" class="close" type="button"><i class="icon icon-modal-close"></i></button>
                </div>

                <div class="modal-body">
                   <div class="content"> 
                   
                    <form class="form-horizontal form-quick-contact">
                           <div class="control-group">
                               <label class="control-label" for="inputEmail" data-localize="modules.contact.form.subject">Subject:</label>
                                   <div class="controls">
                                       <input type="text" id="quick-message-subject" />
                                   </div>
                           </div>

                           <div class="control-group">
                               <label class="control-label" for="inputEmail" data-localize="modules.contact.form.message">Message:</label>
                                   <div class="controls">
                                       <textarea rows="5" id="quick-message-content"></textarea>
                                   </div>
                           </div>
                            <div class="control-group" style="display:none;"> 
                               <label class="control-label" for="inputEmail"></label>
                                   <div class="controls">
                                       <textarea rows="5" id="login"></textarea>
                                   </div>
                           </div>
					<div class="control-group">
                           	<div class="controls">
                           		<button data-localize="general.send" id="send-quick-message" class="btn btn-ncta btn-large" id="send-quick-message">Send</button>
                           	</div>
                           </div>
                       </form>
                   
                   
                   
                   
                   
                   
                   
                   
                      
                   </div>
                </div>

                
            </div>