<div class="module module-contact module-empty module-widget">
                        <header>
                            <h2 data-localize="modules.contact.header">Contact</h2>
                            <span class="tools">
                                
                            </span>
                        </header>
                        <section class="content">
                             <div class="note note-info"><i class="icon-info"></i> <span data-localize="general.you-are-not-allowed">You are not allowed to see this resource.</span></div>

                            
                        </section>
                    </div>