
$customersNavBackground: var(--topNavigationBackgroundColor);
$customersNavBackgroundHover: var(--topNavigationBackgroundHoverColor);
$customersNavFont: var(--topNavigationFontColor);
$customersNavButtons: var(--topNavigationButtonsColor);
$customersNavButtonsHover: var(--topNavigationButtonsHoverColor);

$customerComponents: var(--mainComponentsPrimaryColor);
$customerComponentsHover: var(--mainComponentsPrimaryHoverColor);
$customerComponentsTabs: var(--mainComponentsTabsColor);
$customerComponentsFont: var(--mainComponentsFontColor);
