// BUTTON STYLES
// -------------


// Base styles
// --------------------------------------------------

// Core
.btn {
  display: inline-block;
  @include ie7-inline-block();
  padding: 4px 10px 4px;
  margin-bottom: 0; // For input.btn
  font-size: $baseFontSize+2;
  line-height: $baseLineHeight;
  *line-height: 20px;
  color: $xDarkGray;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255,255,255,1);
  vertical-align: middle;
  cursor: pointer;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  
  @include border-radius(2px);
  @include ie7-restore-left-whitespace(); // Give IE7 some love

}

// Hover state
.btn:hover {
  color: $xDarkGray;
  text-decoration: none;
  border: 1px solid darken($white, 20%);
  *background-color: darken($white, 5%); 
}

// Focus state for keyboard and accessibility
.btn:focus {
  @include tab-focus();
}

// Active state
.btn.active,
.btn:active {
  background-color: darken($white, 10%);
  background-color: darken($white, 15%) e("\9");
  background-image: none;
  outline: 0;
  @include box-shadow(#{"inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)"});
}

// Disabled state
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: darken($white, 10%);
  background-image: none;
  @include opacity(65);
  @include box-shadow(none);
}


// Button Sizes
// --------------------------------------------------

// Large
.btn-large {
  padding: 5px 9px;
  font-size: $baseFontSize+2;
  height: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  @include border-radius(2px);
}
.btn-large [class^="icon-"] {
  margin-top: -1px;
  width: 24px;
  height: 24px;
}

// Small
.btn-small {
  padding: 10px 14px; 
  font-size: $baseFontSize;
  line-height: $baseLineHeight - 4px;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}

// Mini
.btn-mini {
  padding: 3px;
  font-size: $baseFontSize - 1px;
  line-height: $baseLineHeight - 4px;
}


// Alternate buttons
// --------------------------------------------------

// Set text color
// -------------------------
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover, 
.btn-cta,
.btn-cta:hover,
.btn-next,
.btn-next:hover{
  color: $white;
  text-shadow: 1px 1px 2px rgba(0,0,0,.2);
}
// Provide *some* extra contrast for those who can get it
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255,255,255,.75);
}

// Set the backgrounds
// -------------------------
.btn {
  @include buttonBackground($btnBackground, $btnBackgroundHighlight, 1px, solid, $btnBorder);  
}
.btn-primary {
  @include buttonBackground($btnPrimaryBackground, $btnPrimaryBackgroundHighlight,1px, solid, $btnPrimaryBorder);
}

.btn-cta {
  @include buttonBackground($btnCtaBackground, $btnCtaBackgroundHighlight,1px, solid, $btnCtaBorder);
}

.btn-next {
  @include buttonBackground($btnNextBackground, $btnNextBackgroundHighlight,1px, solid, $btnNextBorder);
}

.btn-default {
  @include buttonBackground($btnDefaultBackground, $btnDefaultBackgroundHighlight,1px, solid, $btnDefaultBorder);
}

.btn-danger {
  @include buttonBackground($btnDangerBackground, $btnDangerBackgroundHighlight,1px, solid, $btnDangerBorder);
}

.btn-back{
  @include buttonBackgroundNew( #808287,#7c7d82,1px, solid, #7c7d82);
  color: white;
  text-shadow: none;
  @include border-radius(0);
}
.btn-forward, .btn-ncta{
  background: $customerComponents;
  background-repeat: repeat-x;
  border: 1px solid $customerComponents;
  color: $customerComponentsFont;
  @include border-radius(1px);
   text-shadow: 1px 1px 2px rgba(0,0,0,.2);
   &:hover{
    background: $customerComponentsHover;
    background-repeat: repeat-x;
    color: $customerComponentsFont;
   }
}

.btn-default {
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,.2);
  &:hover{
    color: white;
  }
}


// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn {
  // Firefox 3.6 only I believe
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // IE7 has some default padding on button controls
  *padding-top: 2px;
  *padding-bottom: 2px;
  &.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
  }
  &.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
  }
  &.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
  }
}

button.btn-large{
  height: 36px;
}
// Section header view switch classes
// --------------------------------------------------

.btn-group.view-switch {

  .btn{
    
    line-height: 22px;
    vertical-align: middle;
    padding: 1px 10px 0px;
    color: $xDarkGray;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    
    &:first-child{
      border-left: 1px solid $btnBorder;
    }

    &.active{
      @include buttonBackground(#809ea8, #93b6c2, 1px, solid, #8cadb8);
      background-image: none;
      outline: 0;
      @include box-shadow(inset 0 2px 2px rgba(0,0,0,.15));
      color: $white;  
      text-shadow: 0px -1px 0px #6a848c;

      &:hover{
        @include box-shadow(inset 0 2px 2px rgba(0,0,0,.15));
        @include buttonBackground(lighten(#809ea8, 5%), lighten(#93b6c2, 5%), 1px, solid, #8cadb8);
      }
    }
  }
}

button.link-primary{
  border:none;
  background: none;
  color: $primaryLink;
  padding: 0px;
}

.btn.link-btn{
    background: none;
    border: none;

    &:hover{
      text-decoration: underline;
      box-shadow: none;
    }
  }