// CLOSE ICONS
// -----------
 
.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: $baseLineHeight;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,1);

  @include opacity(60);
  &:hover {
    
    text-decoration: none;
    cursor: pointer;
    @include opacity(80);
  }
  
  span{
    
    font-size: 11px;
    color: #ffffff;
    line-height: $baseLineHeight;
    vertical-align: middle;
    margin-top: -2px;
    font-weight: normal;
  }
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
} 