// DROPDOWN MENUS
// --------------

// Use the .menu class on any <li> element within the topbar or ul.tabs and you'll get some superfancy dropdowns
.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle {
  // The caret makes the toggle a bit too tall in IE7
  *margin-bottom: -3px;
}
.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}

// Dropdown arrow/caret
// --------------------
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top:   4px solid $black;
  border-right: 4px solid transparent;
  border-left:  4px solid transparent;
  content: "";
  @include opacity(30);
}

// Place the caret
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
.dropdown:hover .caret,
.open .caret {
  @include opacity(100);
}

// The dropdown menu (ul)
// ----------------------
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindexDropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 160px;
  padding: 0px 0px 2px 0px;
  margin: 1px 0 0; // override default ul
  list-style: none;
  background-color: $dropdownBackground;
  border: 1px solid #ccc;
  //#border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  @include border-radius(2px);

  @include box-shadow(0 0 6px rgba(0,0,0,.07));
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  

  // Aligns the dropdown menu to right
  &.pull-right {
    right: 0;
    left: auto; 
  }
  >:first-child{
    border-top: 2px solid $xRed;
  }
  // Dividers (basically an hr) within the dropdown
  .divider {
    @include nav-divider($dropdownDividerTop, $dropdownDividerBottom);
  }

  .divider-dashed{
    *width: 100%;
    height: 1px;
    margin: 2px 1px; // 8px 1px
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: $white;
    border-bottom: 1px dashed #d1d1d1;
  }



  // Links within the dropdown menu
  a {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: $baseLineHeight;
    //color: @dropdownLinkColor;
    white-space: nowrap;
  }

  ul{
    list-style-type: none;
    margin: 0;

    li{
      margin: 0px 1px 0px 1px;
      a{
        line-height: 22px;
        font-size: 11px;
        padding: 0px 3px;
        text-shadow: 1px 1px 0px $white;
        &:hover{
          color: $primaryLink;
            background: #f3f3f3;
        }
      }
      
    }
  }
}

// Hover state
// -----------
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: $dropdownLinkColorHover;
  text-decoration: none;
  background-color: $dropdownLinkBackgroundHover;
}

// Open state for the dropdown
// ---------------------------
.open {
  // IE7's z-index only goes to the nearest positioned ancestor, which would
  // make the menu appear below buttons that appeared later on the page
  *z-index: $zindexDropdown;

  & > .dropdown-menu {
    display: block;
  }
}

// Right aligned dropdowns
// ---------------------------
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

// Allow for dropdowns to go bottom up (aka, dropup-menu)
// ------------------------------------------------------
// Just add .dropup after the standard .dropdown class and you're set, bro.
// TODO: abstract this so that the navbar fixed styles are not placed here?
.dropup,
.navbar-fixed-bottom .dropdown {
  // Reverse the caret
  .caret {
    border-top: 0;
    border-bottom: 4px solid $black;
    content: "\2191";
  }
  // Different positioning for bottom up menu
  .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
  }
}

// Typeahead
// ---------
.typeahead {
  margin-top: 2px; // give it some space to breathe
  @include border-radius(4px);
}
