// PAGINATION
// ----------

.pagination {
  height: $baseLineHeight+10;
  margin: $baseLineHeight 0;
 }
.pagination ul {
  display: inline-block;
  @include ie7-inline-block();
  margin-left: 0;
  margin-bottom: 0;
  @include border-radius(1px);
}
.pagination li {
    display: inline;
    
  }
.pagination a,
.pagination button,
.pagination .more{
  float: left;
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px;
  line-height: 25px;
  text-decoration: none;
  border: 1px solid #d8d8d8;
  border-left-width: 0;
  background: #fafafa;
  color: $xBlue;
  outline: none;
  cursor: pointer;
  >span{
    font-size: 12px;
  }
}
.pagination>span {
  float: left;
}
.pagination a:hover,
.pagination button:hover,
.pagination a.active,
.pagination .active a {
  background-color: $white;
}
.pagination a.active,
.pagination button.is--active,
.pagination .active a {
  color: $customersNavButtons;
  border-top: 2px solid $customersNavButtons;
  cursor: default;
  line-height:24px;
}
.pagination .disabled,
.pagination .disabled:hover,
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover,
.pagination .disabled button,
.pagination .disabled button:hover {
  color: 4grayLight;
  background-color: #fafafa;
  cursor: default;
}
.pagination li:first-child a,
.pagination>a:first-child,
.pagination li:first-child button,
.pagination>button:first-child {
  border-left-width: 1px;
  @include border-radius(3px 0 0 3px);
}
.pagination li:last-child a,
.pagination>a:last-child,
.pagination li:last-child button,
.pagination>button:last-child  {
  @include border-radius(0 3px 3px 0);
}

.tab-content .pagination button {
  font-weight: 500;
}


// Centered
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
