body.report-print-view {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #535353;
  font-size: 12pt;
}
body.report-print-view #main-header,
body.report-print-view #sub-header {
  display: none;
}
body.report-print-view .content {
  width: 100%;
}
body.report-print-view .content header {
  border-bottom: 0.25mm solid #838383;
  clear: both;
  display: block;
}
body.report-print-view .content header .title {
  display: inline-block;
  width: 60%;
}
body.report-print-view .content header .title h2 {
  color: #e33d4d;
  font-weight: normal;
  font-size: 16pt;
  margin-bottom: 2mm;
}
body.report-print-view .content header .title h3 {
  font-size: 10pt;
  font-weight: normal;
}
body.report-print-view .content header .title h3 strong {
  text-transform: uppercase;
}
body.report-print-view .content header .logo {
  display: inline-block;
  width: 30%;
  float: right;
  text-align: right;
  margin-top: 2mm;
}
body.report-print-view .content .chart-section {
  width: 100%;
  margin-top: 10mm;
  margin-bottom: 10mm;
  padding-bottom: 10mm;
  border-bottom: 0.25mm solid #838383;
  display: block;
}
body.report-print-view .content .chart-section > div {
  width: 100% !important;
  text-align: center;
  margin: 0 auto;
}
body.report-print-view .content .table-section {
  width: 100%;
}
body.report-print-view .content .table-section table {
  width: 100%;
  font-size: 10pt;
  border-spacing: 0;
  border-collapse: collapse;
}
body.report-print-view .content .table-section table td {
  border: 0.5mm solid #535353;
  padding: 1mm;
}
body.report-print-view .content .table-section table .xtrf-financial-report-header {
  font-weight: bold;
}
body.report-print-view .content .table-section table .xtrf-financial-report-header-main td.xtrf-financial-report-header {
  font-weight: bold;
  text-align: center;
  color: black;
  text-transform: uppercase;
  page-break-after: avoid;
  page-break-inside: avoid;
}
body.report-print-view .content .table-section table .xtrf-financial-report-footer-main td {
  border-top: 1mm solid #535353;
  font-weight: bold;
  color: black;
}
body.report-print-view .content .table-section table .xtrf-financial-report-footer-main td.xtrf-financial-report-footer.table-footer-label {
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
}
body.report-print-view .content footer {
  width: 100%;
  display: inline-block;
  font-size: 8pt;
  margin-top: 10mm;
}
body.report-print-view .content footer span {
  display: inline-block;
  width: 60%;
}
body.report-print-view .content footer .logo {
  width: 30%;
  float: right;
  display: inline-block;
  text-align: right;
}
