
@media (max-width: 1024px) {
  .gridster > li{
    width:100% !important;
    float:none;
    position:static;
  }

  body{
    width: 100%;
  }

  // Fixed grid
  @include grid-core(60px, 20px);


  .dashboard-container [class*="span"]{
    width: 100%;
    float: none;
    padding-left:0px;
  }

  // Input grid
  @include grid-input(70px, 30px);

  // Thumbnails
  .thumbnails {
    margin-left: -30px;
  }
  .thumbnails > li {
    margin-left: 30px;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }
  
}