// Scaffolding
// Basic and global styles for generating a grid system, structural layout, and page templates
// -------------------------------------------------------------------------------------------


// Body reset
// ----------
html { font-size: 62.5%; } 
body {
  margin: 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  font-size: 1.4rem;
  line-height: $baseLineHeight;
  color: $textColor;
  background: #d8d8d8 url(../img/body.png) top left repeat-x fixed;
  //#gradient.vertical(#dcdcdc, #d4d4d4);

  height: 100%;
}

body.login-page{
  padding-top: 0;
}

body.style-guide{
    padding-bottom: 64px;
    padding-top: 0;
    font-size: 12px;
    .page-header{
        color: $xRed;
    }
}


// Links
// -----

a {
  color: $xBlue;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}
a:hover {
  color: lighten($xBlue,5%);
  text-decoration: underline;
}

a.link-small, a.link-small span{
  font-size: 11px;
}

a.link-primary, a.link-primary:hover{
  color: $primaryLink;
}


a.link-warning, a.link-warning:hover{
  color: $warningLink;
}