// SPRITES
// Glyphs and icons for buttons, nav, and more
// -------------------------------------------


// ICONS
// -----

// All icons receive the styles of the <i> tag with a base class
// of .i and are then given a unique class to add width, height,
// and background-position. Your resulting HTML will look like
// <i class="icon-inbox"></i>.

// For the white version of the icons, just add the .icon-white class:
// <i class="icon-inbox icon-white"></i>

[class^="icon-"],
[class*=" icon-"],
[class^="flag-"],
[class*=" flag-"] {
  display: inline-block;
  width: 16px;
  height: 12px;
  @include ie7-restore-right-whitespace();
  line-height: 16px;
  vertical-align: middle;
  background-image: url('../img/icons.png');
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top:-1px;
}

[class^="flag-"],
[class*=" flag-"] {
  height: 11px;
}



.flag{
  &-be{
    background-position: -120px -72px;
  }
  &-de{
    background-position: -136px -72px;
  }
  &-et{
    background-position: -152px -72px;
  }
  &-en{
    background-position: -168px -72px;
  }
  &-en_US{
    background-position: -184px -72px;
  }
  &-es{
    background-position: -200px -72px;
  }
  &-fr{
    background-position: -216px -72px;
  }
  &-it{
    background-position: -232px -72px;
  }
  &-lv{
    background-position: -248px -72px;
  }
  &-hu{
    background-position: -264px -72px;
  }
  &-pl{
    background-position: -280px -72px;
  }
  &-pt_BR{
    background-position: -120px -83px;
  }
  &-ro{
    background-position: -136px -83px;
  }
  &-ru{
    background-position: -152px -83px;
  }
  &-tr{
    background-position: -168px -83px;
  }
  &-uk{
    background-position: -184px -83px;
  }
  &-zh_CN{
    background-position: -200px -83px;
  }
  &-sv{
    background-position: -216px -83px;
  }
  &-bg{
    background-position: -232px -83px;
  }
  &-is{
    background-position: -248px -83px;
  }
  &-sk{
    background-position: -264px -83px;
  }
  &-sl{
    background-position: -280px -83px;
  }
  &-no {
    background-position: -296px -83px;
  }
  &-da {
    background-position: -296px -72px;
  }
  &-lt{
    background-position: -312px -72px;
  }
  &-fi{
    background-position: -312px -83px;
  }
  &-nl{
    background-position: -328px -72px;
  }



}

.nav-tabs {
  [class^="icon-"],
  [class*=" icon-"]{
    height: 16px;
    margin-top:-2px;
  }
}


.icon{
  &-settings{
    background-position: 0 0;
  }
  &-expand{
    background-position: -16px 0;
  }


  &-dashboard{
    background-position: 0px -24px;
  }
  &-quotes{
    background-position: -24px -24px;
  }
  &-projects{
    background-position: -48px -24px;
  }
  &-invoices{
    background-position: -72px -24px;
  }
  &-contact{
    background-position: -96px -24px;
  }
  &-reports{
    background-position: -120px -24px;
  }



  &-qr-mini{
    background-position: -258px 0px;
    &.loading{
      background: url(../img/350.gif) left center no-repeat;
    }
  }
  &-qr-toolbar{
    background-position: -48px 0px;
    &.loading{
      background: url(../img/350.gif) left center no-repeat;
    }
  }
  &-qr-modal{
     width: 26px; height: 26px;
    background-position: 0px -112px;
    margin-top:-4px;
    margin-right: 9px;
  }
  &-pr-modal{
    width: 26px; height: 26px;
    background-position: -52px -112px;
    margin-top:-4px;
    margin-right: 9px;
  }

  &-details{
    background-position: -48px -12px;
  }
  &-id-edit{
    background-position: -64px 0px;
  }
  &-logout{
    background-position: -80px 0px;
  }
  &-quick-message{
    background-position: -96px 0px;
    width: 17px;
    height: 13px;
    margin-top: -1px;
  }
  &-quick-message-white{
    background-position: -72px -767px;
    @include square(24px);

  }
  &-instant-contact{
    background-position: -112px 0px;
    width: 17px;
  }

  &-summary{
    background-position: -48px -72px;
  }
  &-tasks{
    background-position: 0px -72px;
  }

  &-files{
    background-position: -16px -72px;
  }

  &-resources{
    background-position: -32px -72px;
  }

  &-accept{
    background-position: -146px  0px;
  }
  &-download{
    background-position: -162px  -12px;
  }

  &-download-blue{
    background-position: -162px  0px;
  }

  &-download-pdf{
    background-position:   0px -290px;
    width: 16px;
    height: 16px;
  }

  &-calendar{
    width: 24px;
    height: 24px;
    background-position: -96px -88px;
  }

  &-report{
    background-position: -274px 0px;
  }


  &-collapse{
    width: 9px;
    height: 9px;
    background-position: 0px -138px;
  }

  &-file-remove{
    background-position: -194px 0px;
  }

  &-success{
    width: 18px;
    height: 18px;
    background-position: 0px -147px;
  }
  &-error{
    width: 18px;
    height: 18px;
    background-position: -18px -147px;
  }
  &-info{
    width: 18px;
    height: 18px;
    background-position: -36px -147px;
  }
   &-info-small{
    width: 12px;
    height: 12px;
    background-position: -290px -0px;

    &-white{
      background-position: -290px -13px;
    }
  }
  &-file-pdf{
    background-position: -64px -72px;
    height: 16px;
    margin-top: -3px;
  }

  &-loader-green{
    background: url(../img/loader-green.gif) center center no-repeat;
  }

  &-partial-table{
    background-position: 0px -213px;
    width: 33px;
    height: 17px;
  }

  &-help{
    background-position: -80px -72px;
  }
  &-preview{
    width: 18px;
    background-position: -72px -266px;
  }
  &-xtm{
    width: 18px;
    background-position: -72px -290px;
  }
  &-installed, &-tick{
    background-position: -96px -72px;
  }

  &-widget-add{
    background-position: -55px -146px;
    width: 17px;
    height: 18px;
  }

  &-modal-close{
    background-position: -55px -354px;
    @include square(36px);
  }
  &-mini-phone{
    @include square(12px);
    background-position: -72px -147px;
  }

  &-mini-mail{
    @include square(12px);
    background-position: -84px -147px;
  }
  &-send-back-to{
    width: 14px;
    height: 10px;
    background-position: -302px 0px;
  }

  &-task{
    &-deadline{
      @include square(24px);
      background-position: -302px -24px;

    }
    &-deadline-overdue{
      @include square(24px);
       background-position: -302px -48px;
    }
    &-service{
      @include square(24px);
      background-position: -326px -24px;
    }
    &-lang-combination{
      @include square(24px);
      background-position: -350px -24px;
    }

    &-project{
      @include square(24px);
      background-position: -374px -24px;
    }
    &-name{
     @include square(24px);
      background-position: -422px -24px;
    }
    &-review{
      width: 17px;
      height: 18px;
      background-position: -337px 0px;
    }
  }
  &-responsible{
    @include square(24px);
    background-position: -398px -24px;
  }
  &-contact-add{
    @include square(24px);
    background-position: -398px -48px;
  }

  &-online-review{
    @include square(20px);
    background-position: -317px 0px;
  }
  &-online-review-mini{
    @include square(12px);
    background-position: -354px 0px;
  }

  //used in CR final acceptance
  &-warning{
    @include square(30px);
    background-position: -120px -767px;
  }

}

.modal-task .filters{
  .icon{
    @include square(19px);
    &-files{
      background-position: -72px -165px;
    }

    &-resources{
      background-position: -91px -165px;
    }

    &-reviews{
      background-position: -110px -165px;
    }
  }

  .disabled .icon{
    &-files{
      background-position: -72px -203px;
    }

    &-resources{
      background-position: -91px -203px;
    }

    &-reviews{
      background-position: -110px -203px;
    }
  }

  .active .icon-files{
    background-position: -72px -184px;
  }

  .active .icon-resources {
    background-position: -91px -184px;
  }

  .active .icon-reviews{
    background-position: -110px -184px;
  }
}
.icon-loader-dark, .icon-loader-green{
    background:none;
    width: 0;
    height: 0;
 }
.loading{
 .icon-qr-mini{
    background: url(../img/loader-dark.gif) left center no-repeat;
  }
 .icon-qr-toolbar{
    background: url(../img/loader-dark.gif) left center no-repeat;
 }
 .icon-loader-dark{
    width: 16px;
    height: 16px;
    background: url(../img/352.gif) left center no-repeat;
 }
 .icon-loader-green{
    width: 16px;
    height: 16px;
    background: url(../img/351.gif) left center no-repeat;
 }
	.icon-loader-light{
		width: 16px;
		height: 16px;
		background: url(../img/350.gif) left center no-repeat;
	}
}

.collapsed .icon-collapse, .file-row-collapsed .icon-collapse {
  background-position: -9px -138px;
}
.file-row-expanded .icon-collapse{
  background-position: 0px -138px;
}

.icon-file-type{
  margin-left: 6px;
  margin-right: 3px;
}
.file-row-zip .icon-file-type{
  background-position: -226px 0px;
}

.file-row-task .icon-file-type, .file-row-dir .icon-file-type{
  background-position: -210px 0px;
}

.btn-large .icon{
  width: 24px;
  height: 24px;
  margin-top: -2px;
  &-accept{
    background-position: 0px -88px;
  }
  &-qr{
    background-position: -24px -88px;
  }
  &-qr-white{
    background-position: -194px -94px;
  }
  &-next-step{
    background-position: -72px -88px;
  }
}

.btn-small .icon{
  &-next-step{
    background-position: -70px -94px;
  }
}

.link-return i.icon-return{
  width: 24px;
  height: 24px;
  margin-top: -2px;
  background-position: -48px -88px;
}
.link-return i.icon-return-new{
  width:24px;
  height: 24px;
  background-position: -184px -523px;
}


.module.expanded .icon-details{
    background-position: -130px 0px;
}

#primary-nav li.active{
  .icon{
    &-dashboard{
     background-position: 0px -48px;
    }
    &-quotes{
      background-position: -24px -48px;
    }
    &-projects{
      background-position: -48px -48px;
    }
    &-invoices{
      background-position: -72px -48px;
    }
    &-contact{
      background-position: -96px -48px;
    }
    &-reports{
      background-position: -120px -48px;
    }
  }
}

#primary-nav li.disabled, #primary-nav li.disabled:hover{
  .icon-dashboard{
    background-position: 0px -306px;
  }

  .icon-quotes{
    background-position: -24px -306px;
  }

  .icon-projects{
    background-position: -48px -306px;
  }

  .icon-invoices{
    background-position: -72px -306px;
  }

  .icon-reports{
    background-position: -120px -306px;
  }
}

.job-request{
   .icon-quotes{
      background-position: -24px -330px;
    }

    .icon-projects{
      background-position: -48px -330px;
    }
}

 .icon-report-chart{
    width: 24px;
    height: 24px;
    background-position: 0px -165px;
  }

  .icon-report-table{
    width: 24px;
    height: 24px;
    background-position: -24px -165px;

    &-left-tab{
      background-position: -48px -165px;
    }
  }

  .active .icon-report-chart{
    background-position: 0px -188px;
  }


  .active .icon-report-table{
    background-position: -24px -188px;

    &-left-tab{
      background-position: -48px -188px;
    }
  }


  #my-account-tabs{
    .nav-tabs{
      [class^="icon-"],
      [class*=" icon-"]{
        width: 24px;
        height: 24px;
        margin-right: 3px;
      }
      .icon-ma-as{
        background-position: -168px -24px;
      }
      //Personal info
      .icon-ma-pi{
        background-position: -192px -24px;
      }
      .icon-ma-ci{
        background-position: -216px -24px;
      }
      .icon-ma-cp{
        background-position: -240px -24px;
      }
      .icon-ma-resources{
        background-position: -264px -24px;
      }

      li.active{
        .icon-ma-as{
          background-position: -168px -48px;
        }
        //Personal info
        .icon-ma-pi{
          background-position: -192px -48px;
        }
        .icon-ma-ci{
          background-position: -216px -48px;
        }
        .icon-ma-cp{
          background-position: -240px -48px;
        }
         .icon-ma-resources{
          background-position: -264px -48px;
        }
      }

    }
  }


.icon-overview{
  width: 24px;
  height: 24px;

  &.icon-dashboard-overview{
    background-position: 0px -230px;
  }
  &.icon-quotes-overview{
    background-position: -24px -230px;
  }
  &.icon-projects-overview{
    background-position: -48px -230px;
  }
  &.icon-invoices-overview{
    background-position: -72px -230px;
  }
  &.icon-reports-overview{
    background-position: -96px -230px;
  }
}

.icon-previous-step{
  background-position: 0px -254px;
}
.icon-forward-step{
  background-position: -16px -254px;
}

.icon-add{
  &-text-clipboard{
    width: 24px;
    height: 24px;
    background-position: 0px -266px;
  }
  &-files{
    width: 24px;
    height: 24px;
    background-position: -24px -266px;
  }
  &-dnd{
    width: 24px;
    height: 24px;
    background-position: -48px -266px;
  }
  &-more{
    width: 16px;
    height: 12px;
    background-position: -178px -12px;
  }
}



.ico-sm>[class^="icon-"],
.ico-sm>[class*=" icon-"] {
  color: $xDarkGray;
  font-size: 16px;
  display: inline-block;
  width: auto;
  height: auto;
  @include ie7-restore-right-whitespace();
  vertical-align: middle;
  background-position: 0 0;
  background-repeat: no-repeat;

  background: none;

}


.select2-result-label .ico-sm>[class^="icon-"],
.select2-result-label .ico-sm>[class*=" icon-"],
.select2-container .ico-sm>[class^="icon-"],
.select2-container .ico-sm>[class*=" icon-"]{
  font-size: 12px;
}


.select2-container .ico-sm>[class^="icon-"],
.select2-container .ico-sm>[class*=" icon-"]{
  font-size: 12px;
  width: 24px;
  height: auto;
}

.nav-tabs li.pull-right a>i.icon-download-blue{
  height: 12px;
  margin-top: -2px;
}

.icon-widget-detach{
  width: 16px;
  height: 16px;

  svg {
    .a {
      stroke: $customerComponentsFont;
    }
  }
}

.icon-add-widget{
  width: 63px;
  height: 63px;
  background-position: 0px -460px;
}

.icon-no-files{
  width: 92px;
  height: 116px;
  background-position: -189px -571px;
}
.icon-no-persons{
  width: 110px;
  height: 110px;
  background-position: -421px -571px;
}

