//
// Tables.scss
// Tables for, you guessed it, tabular data
// ----------------------------------------


// BASE TABLES
// -----------------

table {
  max-width: 100%;
  background-color: $tableBackground;
  //border-collapse: collapse;
  border-spacing: 1px;
  font-size: 1.2rem;
}

// BASELINE STYLES
// ---------------
.content>table th,
.invoices-outstanding>table th,
#invoices-all-list-wrapper>table th,
.rf-dt .xtrf-financial-report-header-main>td.rf-dt-hdr-c{
  @include gradient-vertical($xLighterGray, darken($xLighterGray,5%));
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px $xDarkGray;
  font-weight: bold;

  &:first-child{
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px;
  }
  &.last{
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
  }
}
.table {
  width: 100%;
  margin-bottom: $baseLineHeight;
  // Cells
  th,
  td {
    padding: 9px;
    line-height: $baseLineHeight;
    text-align: left;
    vertical-align: top;
    //border: 1px solid @tableBorder;
    @include transition(background 100ms linear);
    background: #fff;
    &:first-child{
      border-left: 0;
    }
    &:last-child{
      border-right: 0;
    }
    &.rf-dt-r, &.rf-dt-ftr-c{
      text-align: right;
      color: $xDarkGray;
    }
    &.rf-dt-hdr-c{
      font-weight: bold;
    }
  }

  tr.xtrf-financial-report-header-main{
     td{
      font-size: 11px;
        


      &.rf-dt-hdr-c{
        text-transform: none;
        &.multi-cols-wrapper, &[rowspan]{
          text-transform: uppercase;
          font-size: 12px;
        }
      }
    
     }
     .rf-dt-ftr-c{
        text-align: right;
        @include gradient-vertical(lighten($tableHeadBackground, 5%), $tableHeadBackground);
        font-weight: bold;
        color: $xDarkGray;
    }
  }
  th {
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(255,255,255,.75);
    color: $xDarkGray;
    background:$tableHeadBackground;
    padding: 6px 21px 6px 9px;

  }
  // Bottom align for column headings
  thead{
    position: relative;
  }
  thead th {
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    &:hover{
      //background: lighten(@tableHeadBackground, 2%);
      //#gradient > .vertical(lighten(@tableHeadBackground, 3%), @tableHeadBackground);
      //.box-shadow(0px 0px 3px lighten(@black, 30%));
      //.transition(box-shadow 100ms linear);
      //z-index: 1000;
      cursor: default;
    }

    &.empty{
      -moz-transition: none;
      -webkit-transition: none;
      -o-transition: color 0 ease-in;
      transition: none;
      &:hover{
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: color 0 ease-in;
        transition: none;
        @include box-shadow(none);
        cursor: auto;
        
      }
    }

    &.sortable{
      .icon{
        position: absolute;
        top: 50%;
        right: 9px;
        margin-top:-5px;
        width: 6px;
        height: 9px;
        background: url(../img/sortable.png) 0 0 no-repeat;
      }

      &.desc{
        .icon{
          background-position: 0 -9px;
        }
      }
      &.asc{
        .icon{
          background-position: 0 -18px;
        }
      }
    }
  }
  // Remove top border from thead by default
  caption + thead tr:first-child th,
  caption + thead tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + thead tr:first-child td,
  thead:first-child tr:first-child th,
  thead:first-child tr:first-child td {
    border-top: 0;
  }
  // Account for multiple tbody instances
  tbody + tbody {
    border-top: 2px solid $tableBorder;
  }

}



// CONDENSED TABLE W/ HALF PADDING
// -------------------------------

.table-condensed {
  th,
  td {
    padding: 4px 5px;
  }
}


// BORDERED VERSION
// ----------------

.table-bordered {
  border: 1px solid $tableBorder;
  border-collapse: separate; // Done so we can round those corners!
  *border-collapse: collapsed; // IE7 can't round corners anyway
  border-left: 0;
  @include border-radius(4px);
  th,
  td {
    border-left: 1px solid $tableBorder;
  }
  // Prevent a double border
  caption + thead tr:first-child th,
  caption + tbody tr:first-child th,
  caption + tbody tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + tbody tr:first-child th,
  colgroup + tbody tr:first-child td,
  thead:first-child tr:first-child th,
  tbody:first-child tr:first-child th,
  tbody:first-child tr:first-child td {
    border-top: 0;
  }
  // For first th or td in the first row in the first thead or tbody
  thead:first-child tr:first-child th:first-child,
  tbody:first-child tr:first-child td:first-child {
    -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
  }
  thead:first-child tr:first-child th:last-child,
  tbody:first-child tr:first-child td:last-child {
    -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
  }
  // For first th or td in the first row in the first thead or tbody
  thead:last-child tr:last-child th:first-child,
  tbody:last-child tr:last-child td:first-child {
    @include border-radius(0 0 0 4px);
    -webkit-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
  }
  thead:last-child tr:last-child th:last-child,
  tbody:last-child tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 4px;
            border-bottom-right-radius: 4px;
        -moz-border-radius-bottomright: 4px;
  }
}


// ZEBRA-STRIPING
// --------------

// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {

  
  tbody {
    border-bottom: 1px solid #d9d9d9;
    tr:nth-child(even) td,
    tr:nth-child(even) th {
      background-color: $tableBackgroundAccent;
    }
    tr:last-child td{
      border-bottom: 1px solid #d9d9d9;
    }
  }
}


// HOVER EFFECT
// ------------
// Placed here since it has to come after the potential zebra striping
.table {
  tbody tr:nth-child(even):hover td.xtrf-financial-report-header,
  tbody tr:nth-child(even):hover td.xtrf-financial-report-footer,
  tbody tr:nth-child(even):hover td.xtrf-financial-report-data,
  tbody tr:hover td,
  tbody tr:hover td.xtrf-financial-report-header,
  tbody tr:hover td.xtrf-financial-report-footer,
  tbody tr:hover td.xtrf-financial-report-data,
  tbody tr:hover th {
    background-color: lighten($tableBackgroundHover, 10%);
    @include transition(background 100ms linear);
  }
}


// TABLE CELL SIZING
// -----------------

// Change the columns
table {
  .span1     { @include tableColumns(1); }
  .span2     { @include tableColumns(2); }
  .span3     { @include tableColumns(3); }
  .span4     { @include tableColumns(4); }
  .span5     { @include tableColumns(5); }
  .span6     { @include tableColumns(6); }
  .span7     { @include tableColumns(7); }
  .span8     { @include tableColumns(8); }
  .span9     { @include tableColumns(9); }
  .span10    { @include tableColumns(10); }
  .span11    { @include tableColumns(11); }
  .span12    { @include tableColumns(12); }
  .span13    { @include tableColumns(13); }
  .span14    { @include tableColumns(14); }
  .span15    { @include tableColumns(15); }
  .span16    { @include tableColumns(16); }
  .span17    { @include tableColumns(17); }
  .span18    { @include tableColumns(18); }
  .span19    { @include tableColumns(19); }
  .span20    { @include tableColumns(20); }
  .span21    { @include tableColumns(21); }
  .span22    { @include tableColumns(22); }
  .span23    { @include tableColumns(23); }
  .span24    { @include tableColumns(24); }
}
