// TOOLTIP
// ------=

.tooltip {
  position: absolute;
  z-index: $zindexTooltip;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  @include opacity(0);
  &.in     { @include opacity(100); }
  &.top    { margin-top:  -2px; }
  &.right  { margin-left:  2px; }
  &.bottom { margin-top:   2px; }
  &.left   { margin-left: -2px; }
  &.top .tooltip-arrow    { @include popover-arrow-top(); }
  &.left .tooltip-arrow   { @include popover-arrow-left(); }
  &.bottom .tooltip-arrow { @include popover-arrow-bottom(); }
  &.right .tooltip-arrow  { @include popover-arrow-right(); }
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: $white;
  text-align: center;
  text-decoration: none;
  background-color: $black;
	 word-wrap: break-word;
  @include border-radius(4px);
}

.tooltip-blue{
  &.top .tooltip-arrow    { @include popover-arrow-top(5px,#58899f); }
   padding: 3px 8px;
   @include border-radius(4px);
   background-color: #58899f;
  .tooltip-inner{
    background: none;
    display: inline-block;
    padding:0;
  }
  .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
}
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}
