// Variables.scss
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------
.hover {
    font-size: 14px;
}

// GLOBAL VALUES
// --------------------------------------------------
$basePadding:           9px;

// Colors
// -------------------------


// Labels colors
// -------------------------
$open:                   #63bbd8;
$pendingReviewJobs:      #eab52f;

$pending:                #65B5A1;
$waitingForAccept:       #ffa36c;
$accepted:               #c3d37a;
$projectCreated:         #808080;


// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$grayDarkX:             #535353;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$white:                 #fff;

// X Colors
// -------------------------
$offWhite:           #f6f6f6;
$xRed:               #e33d4d;
$xDarkGray:          #535353;
$xLighterGray:       #808080;
$xOrange:            #ffa36c;
$xLightBlue:         #a5ccd9;
$xBlue:              #467f97;
$xPrimaryBlue:       #0393d0;
$borderLine:         #e6e6e6;
$tabsBg:             #f3f3f3;

// Accent colors
// -------------------------
$blue:                  #049cdb;
$blueDark:              #0064cd;
$green:                 #46a546;
$red:                   #9d261d;
$yellow:                #ffc40d;
$orange:                #f89406;
$pink:                  #c3325f;
$purple:                #7a43b6;
$primaryLink:           #0393d0;


// Scaffolding
// -------------------------
$bodyBackground:        $white;
$textColor:             #808080;

// Embossed lines
// -------------------------
$lightLine:       #fcfcfc;
$darkLine:       #dedede;


// Links
// -------------------------
$linkColor:             #08c;
$linkColorHover:        darken($linkColor, 15%);
$warningLink:           #f31010;
$ctaLink:               #4c77c2;


// Typography
// -------------------------
$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

$baseFontSize:          12px;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        18px;
$altFontFamily:         $serifFontFamily;

$headingsFontFamily:    inherit; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold;    // instead of browser default, bold
$headingsColor:         inherit; // empty to use BS default, $textColor


// Tables
// -------------------------
$tableHeadBackground:               #d9d9d9;
$tableBackground:                   transparent; // overall background-color
$tableBackgroundAccent:             #fafafa; // for striping
$tableBackgroundHover:              #fcfcfc; // for hover
$tableBorder:                       #f3f3f3; // table and cell border


// Buttons
// -------------------------
$btnBackground:                     $offWhite;
$btnBackgroundHighlight:            darken($white, 7%);
$btnBorder:                         darken($white, 12%);

$btnDefaultBackground:                     #a5cdda;
$btnDefaultBackgroundHighlight:            darken($btnDefaultBackground, 7%);
$btnDefaultBorder:                         darken($btnDefaultBackground, 12%);

$btnPrimaryBackground:              #a6cedb;
$btnPrimaryBackgroundHighlight:     darken($btnPrimaryBackground, 10%);
$btnPrimaryBorder:                  darken($btnPrimaryBackground, 5%);

$btnCtaBackground:              #e5a34b;
$btnCtaBackgroundHighlight:     #e39d42;
$btnCtaBorder:                  #e39d42;

$btnNextBackground:              #c3d37a;
$btnNextBackgroundHighlight:     darken($btnNextBackground, 5%);
$btnNextBorder:                  darken($btnNextBackground, 6%);

$btnDangerBackground:               #ee5f5b;
$btnDangerBackgroundHighlight:      darken($btnDangerBackground, 5%);
$btnDangerBorder:                    darken($btnDangerBackground, 12%);

$btnInfoBackground:                 #5bc0de;
$btnInfoBackgroundHighlight:        #2f96b4;

$btnSuccessBackground:              #62c462;
$btnSuccessBackgroundHighlight:     #51a351;

$btnWarningBackground:              lighten($orange, 15%);
$btnWarningBackgroundHighlight:     $orange;


$btnInverseBackground:              $gray;
$btnInverseBackgroundHighlight:     $grayDarker;


// Forms
// -------------------------
$inputBackground:               $white;
$inputBorder:                   #d1d1d1;
$inputBorderRadius:             2px;
$inputDisabledBackground:       $grayLighter;
$formActionsBackground:         #fafafa;

// Dropdowns
// -------------------------
$dropdownBackground:            $white;
$dropdownBorder:                rgba(0,0,0,.2);
$dropdownLinkColor:             $grayDark;
$dropdownLinkColorHover:        $white;
$dropdownLinkBackgroundHover:   $linkColor;
$dropdownDividerTop:            #e5e5e5;
$dropdownDividerBottom:         $white;



// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:          1000;
$zindexPopover:           1040;
$zindexTooltip:           1020;
$zindexFixedNavbar:       1030;
$zindexModalBackdrop:     1040;
$zindexModal:             1050;


// Sprite icons path
// -------------------------
//$iconSpritePath:          "../../img/icons.png";
//$iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";

// IE 6-9 CSS3 features enabler path
// -------------------------
$ieEnabler:          "http://localhost/xtrf-partner-zone/static/pie.htc";



// Input placeholder text color
// -------------------------
$placeholderText:         $grayLight;


// Hr border color
// -------------------------
$hrBorder:                $grayLighter;


// Navbar
// -------------------------
$navbarHeight:                    40px;
$navbarBackground:                $grayDarker;
$navbarBackgroundHighlight:       $grayDark;

$navbarText:                      $grayLight;
$navbarLinkColor:                 $grayLight;
$navbarLinkColorHover:            $white;
$navbarLinkColorActive:           $navbarLinkColorHover;
$navbarLinkBackgroundHover:       transparent;
$navbarLinkBackgroundActive:      $navbarBackground;

$navbarSearchBackground:          lighten($navbarBackground, 25%);
$navbarSearchBackgroundFocus:     $white;
$navbarSearchBorder:              darken($navbarSearchBackground, 30%);
$navbarSearchPlaceholderColor:    #ccc;
$navbarBrandColor:                $navbarLinkColor;


// Hero unit
// -------------------------
$heroUnitBackground:              $grayLighter;
$heroUnitHeadingColor:            inherit;
$heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
$warningText:             #c09853;
$warningBackground:       #fcf8e3;
$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%);

$errorText:               $xRed;
$errorBackground:         #f2dede;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%);

$successText:             #b8c773;
$successBackground:       #dff0d8;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%);

$infoText:                #3a87ad;
$infoBackground:          #d9edf7;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%);



// GRID
// --------------------------------------------------

// Modified grid - 1050px
// -------------------------
$gridColumns:             12;
$gridColumnWidth:         60px;
$gridGutterWidth:         30px;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

// Fluid grid
// -------------------------
$fluidGridColumnWidth:    percentage(1/12);
$fluidGridGutterWidth:    30px;
