.modal.modal-qr{
  overflow: hidden;
  .modal-body-footer{
    overflow: hidden;
    width: 690px;
    z-index: 1071;
    position: relative;

    .btn-next-2{
      margin-right: 18px;
    }
  }
  .modal-footer{ 
    z-index: 1060; 
    position: relative;
    background-image: none;

    .link-return:hover .icon-return-new{
      background-position: -184px -547px;
    }

  }
  .modal-header .close{
    margin-top: 4px;
  } 

  .modal-body{ 
    padding: 0px 0px 18px 0px;

    height: 464px;
    width: 690px;
    max-height: 464px;
    overflow-y: auto;
    z-index: 1070;
    position: relative;
    @include gradient-vertical(#f5f5f5, #f0f0f0);
    form{
      margin-bottom: 0;
    }
    .content{
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 18px;
      margin-bottom: 18px;
      overflow: visible;
      clear: both;
    }
    .control-group{
      border-bottom: 1px solid $borderLine;
      padding-bottom: 6px;
      margin-bottom: 6px;
      @include box-shadow(0px 1px 0px $white);
      &:first-child{

      }
      &:last-child{
        margin-bottom: 0px;
        border-bottom: none;
        padding-bottom: 0;
        @include box-shadow(none)
      }

      &.error{
        textarea{
          border-color: #E33D4D !important;
        }
      }
    }
    .control-group label{
      width: 210px;
      line-height: 36px;
      font-size: 14px;
      color: $xLighterGray;
      text-shadow: 1px 1px 0px $white;
      font-weight: normal;
      margin-right: 30px;
      padding-top: 0px;
      margin-bottom: 0px;

    }

    .control-group input[type='text']{
      width: 320px; 
      padding-left: 9px;
      padding-right: 9px;
    }
    .control-group select{
      width: 320px;
    }
    .form-horizontal .controls{
      margin-left: 240px;

      h4{
        word-wrap: break-word;
      }
    }


  }

  #step-1{
    .controls{
      margin-left: 240px;
    }
    


    #input-quote-name, #input-quote-reference-number{
      width: 300px;
      font-size: 12px;
    }
    
    .delivery-date{
      >*{
        float: left;
      }
      #input-delivery-date {
        width:  168px;
        padding-right: 42px;

      }

      #input-delivery-time{
        width: 70px;
      }
      #delivery-date-wrapper{
        position: relative;
        margin-left: 0;



      }
      #delivery-time-wrapper{
        width: 50px;
        position: relative;
        margin-left: 9px;

      }

      #delivery-date-wrapper .add-on{
        position: absolute;
        left: 184px;
        top: 0px;
        width: 36px;
        height: 36px;
        cursor: pointer;
        background: url(../img/icons.png) -266px -112px no-repeat;

      }

    }

  }

  //   &.modal-qr-step2{
    #step-2{
      #paste-from-clipboard{
        overflow: hidden;
        margin-bottom: 18px;
      }
      .uploader-accordion .uploader-group header{
        font-size: 18px;
        color: $xBlue;
        background: url(../img/dashed-embossed.png) bottom left repeat-x;
        padding-bottom: 9px;
        padding-right: 9px;
        margin-bottom: 18px;  
        overflow: hidden;
        >a{
          @extend .pull-left;
          text-shadow: 1px 1px 0px $white;
        }
        .tools{
          @extend .pull-right;
          a.link-primary{
            line-height: 22px;
            vertical-align: middle;
            font-size: 11px;    
            margin-right: 18px;        
          }

          form{
            float: right;
          }

          .fileupload-buttonbar .btn{
            float: right;
          }

        }
      }

      .uploader-accordion .accordion-body{
        width: 100%;
        position: relative;

        .overlay{
          background: rgba(0,0,0,.2);
          width: 220px;
          height:45px;
          padding: 5px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -140px;
          margin-top: -23px;
          @include border-radius(2px);
          @include box-shadow(0px 2px 5px $xLighterGray);
          overflow: hidden;

          .loader{  
            position: relative;
            display: block;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 11px;
            padding-bottom: 5px;
            width: 200px;
            height: 40px;


            background: white;

            @include border-radius(2px);

            behavior: url(../pie.htc);
            background-image: linear-gradient(bottom, rgb(244,244,244) 0%, rgb(255,255,255) 100%);
            background-image: -o-linear-gradient(bottom, rgb(244,244,244) 0%, rgb(255,255,255) 100%);
            background-image: -moz-linear-gradient(bottom, rgb(244,244,244) 0%, rgb(255,255,255) 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(244,244,244) 0%, rgb(255,255,255) 100%);
            background-image: -ms-linear-gradient(bottom, rgb(244,244,244) 0%, rgb(255,255,255) 100%);

            background-image: -webkit-gradient(
              linear,
              left bottom,
              left top,
              color-stop(0, rgb(244,244,244)),
              color-stop(1, rgb(255,255,255))
              );



            img{
              margin-top: 10px;
            }
          }
        }

      }
      .uploader-accordion .uploader-group .uploader-wrapper{
        height: 122px;
        width: auto;
        padding: 9px;
        background: #ebebeb;
        border: 1px dashed #d1d1d1;
        position: relative;
        width: 610px;

        overflow-y: scroll;



        .info-overlay{
          color: #b3b3b3;
          text-shadow: 1px 1px 0px $white;
          display: block;

          h4{

            font-size: 18px;
            font-weight: normal;
            padding-left: 50px;
            background: url(../img/dnd-icon.png) top left no-repeat;
            text-align: left;
            overflow: hidden;
            small{
              font-size: 11px;

              strong{
                font-weight: bold;
              }

              &.note{
                background: none;
                color: $xBlue;
                margin-top: 6px;
              }
            }
          }

          &.dnd-fallback{
            text-align: center;
            h4{
              padding: 0px;
              text-align: center;
              background: none;
            }
            .actions{
              margin-top: 18px;
              font-size: 1.2rem;
              .btn-file-upload{
                margin-right: 18px;
              }
            }
          }
        }     
        &.hover{
          border-color: $xBlue;
          background: #fafafa;
        }
        .uploaded-files-list{
          list-style-type: none;
          margin-left:  0px;
          li{
            width: 100%;
            background: $white;
            margin-bottom: 1px;
            display: table;
            color: $xLighterGray;
            padding: 9px 0px 9px 0px;
            position: relative;
            .filename{
              display: table-cell;
              @extend .pull-left;
              margin-left: 9px;
              width: 360px;
            }
            .pasted{
              font-style: italic;
            }
            .tools{
              position: absolute;

              right: 9px;
              top: 50%;
              margin-top: -9px;
              height:18px;
              width: 200px;
              .progress{
                width: 170px;
                margin: 8px 0px 0px 0px;
                @extend .pull-left;
              }
              .file-remove{
                @extend .pull-right;
              }
            }

            &.uploading{
              .file-remove{
                cursor: default;
                opacity: .5;
              }
            }
          }
        }

      }

      #reference-materials{
        margin-top: 18px;
      }

      #source-files-container{
        .clipboard-paste label{
          font-size: 14px; 
          font-weight: normal;
        }
        .clipboard-paste textarea{
          width: 100%;
          max-width: 589px;
          resize: vertical;
          height: 284px;
        }
        .clipboard-paste .actions{
          .btn{
            margin-left: 3px;
          }
        }

        .info-overlay h4{
          line-height: 34px;
          background-position: left center;
        }
      }
    }

    #step-2-new .uploader-accordion .uploader-group .uplader-errors-container {
      margin: 0 15px 0 30px;
    }

    #reference-materials-container{
      .info-overlay h4{
        line-height: 34px;
        background-position: left center;
      }
    }

    #step-3{
      header{
       background: url(../img/dashed-embossed.png) repeat-x scroll left bottom transparent;
       color: #467F97;
       font-size: 18px;
       margin-bottom: 18px;
       overflow: hidden;
       padding-bottom: 9px;
       padding-right: 9px;

       h3{
         font-weight: normal;
       }
     }

     .note.note-warning{
      background: #ccffcc;
      border: 1px solid darken(#ccffcc, 5%);
      padding: 5px;
      text-align: center;
      margin-bottom: 18px;
    }
    
  }

  #step-4{
    .content{
      width: 630px;
    }
    .controls>h4{
      font-size: 16px;
      font-weight: normal;
      color: $xBlue;
      line-height: 36px;
      vertical-align: middle;
    }

    .controls>textarea{
      line-height: 16px;
      width: 320px;
      resize: vertical;
      max-height: 300px;
    }


    .qr-actions{
      width: 348px;
      float: left;
      padding-top: 9px;
      padding-right: 18px;

      .control-group{
        @include box-shadow(none);
        border-bottom: none;
      }


      .control-group label{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        line-height: normal;
        width: 100%;
        margin-bottom: 6px;
        text-align: left;
        color: #467f97;
        font-size: 12px;
        font-weight: bold;

      }
      .control-group .controls{
        margin-left: 0;
        margin-bottom: 9px;

        select{
          width: 348px;

        }
        .select2-container .select2-choice {
          border: 1px solid #d1d1d1;
          @include border-radius(4px);
          @include box-shadow(inset 0px 2px 1px rgba(0,0,0,.05));
        }

        .select2-container .select2-choice div{
          opacity: 1;
          @include gradient-vertical(#fdfdfd, #f2f2f2);
        }

        .select2-dropdown-open .select2-choice div b {
          background-image: url(../img/icons.png);   
        }


        .select2-dropdown-open .select2-choice{
          @include gradient-vertical(#f7f7f7, #fdfdfd);
        }
      }

      #contact-persons{
        padding-bottom: 6px;
        border-bottom: 1px solid #e6e6e6;
        @include box-shadow(0px 1px 0px white);

        .contact-list .contact-info{

          position: relative;
          display: table;
          @include border-radius(6px);
          @include gradient-vertical(#ffffff, #f0f0f0);
          background-size: 100%;
          @include box-shadow(0px 2px 3px rgba(0,0,0,.1));
          border: 1px solid #ffffff;
          width: 100%;
          margin-bottom: 9px;
          
          .profile-pic{
            float: none;
            display: table-cell;
            vertical-align: middle;
            img{
              display: block;
              margin: 0;
              padding: 0;
            }
          }

          .details{
            padding-left: 9px;
            display: table-cell;
            vertical-align: middle;
            float: none;
            h4{
              font-weight: normal;
              color: #467f97;
              text-shadow: 0px 1px 0px white;
              margin-bottom: 3px;
            }
            .actions{
              margin-top: 0px;
              input[type="checkbox"]{
                margin-top:0;
                margin-right:4px;
              }

              .set-send-results-contact{
                .icon{
                  display: none;
                }

                &.active{
                  @include gradient-vertical(#e6e6e6, #f6f6f6);
                  color: #666666;
                  text-shadow: 1px 1px 0px white;
                  border-color: #cccccc;
                  
                  .icon{
                    display: inline-block;
                  }
                }
              }
            }
          }
          
          .remove{
            position: absolute;
            top: 5px;
            right: 5px;
          }
        }

        #add-contact-person{
          margin-left: 9px; 
        }
      }

      #notes{
        padding-top: 9px;

        textarea{
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          @include border-radius(4px);
          min-height: 75px;
          width: 100%;
          resize: vertical;
           border: 1px solid #d1d1d1;
          @include box-shadow(inset 0px 2px 1px rgba(0,0,0,.05));
        }
      }

      #accept-auto-start{
        .controls{
          padding-left: 9px;
        }
        label{
          color: #4c77c2;
          font-weight: normal;
        }
        input[type="checkbox"]{
          margin: 1px 0px;
          margin-left: -18px;
        }
      }

     
    }
    .qr-summary-new{
      width: 252px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      float: left;
      
      border-left: 1px solid #e6e6e6;
      padding: 9px 0px 9px 18px;

      dl{
        margin-top: 0;
      }
      dt{
        font-size: 10px;
        line-height: 11px;
        text-transform: uppercase;
        color: #bababa;
        font-weight: normal;
      }
      dd{
        margin-left: 0;
        font-size: 16px;
        color: #ffa36c;
        font-weight: bold;
        line-height: 18px;
        margin-bottom: 12px;
      }
    }
    .qr-summary{

      .control-group{


        &.summary-group{
          padding-bottom: 0px;
          margin-bottom: 0px;
          &.last{
            margin-bottom: 9px;
          }

          h4{
            font-size: 14px;
          }
        }
      }

    }

    .faces{
      padding-left: 240px;

      .contact-info{
        float: left;
        margin-right: 9px;
      }
    }
    .long-time-alert, .quote-alert {
      width:100%;
      text-align: center;
      .alert-warning {
        background-color: #fbf1d4;
      }
    }
  }

  #step-5{
    .content{
      text-align: center;
    }
    header{
      background: url(../img/dashed-embossed.png) bottom left repeat-x;
      margin-bottom: 18px;
      padding-bottom: 18px;
    }
    h2{
      font-size: 24px;
      color: $xBlue;
      font-weight: normal;
    }
    p{
      padding-left: 9px;
      font-size: 14px;

      &.tools .btn{ 
        margin-left: 9px;
        margin-right: 9px;
      }
    }
  }
  #budget {
    margin-bottom: 18px;
    padding-bottom: 0px;
    border-bottom: 1px solid #e6e6e6;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
  }
}
