body.docs{
    padding-top: $baseLineHeight*4;
    .section-header{
        header{
            border-top: 2px solid $xBlue;

            h2{
                color: $xBlue;
                background: none;
            }
        }
    }
}