// QUOTE MODULES SPECIFIC STYLES

.module.module-quote{
    .content > .status-bar .quote-download{
        float: right;
        margin-top: 14px;
        margin-right: 9px;
        display: none;
    }
}
.module.module-quote header.editable{
    .edit-quote-name{
        margin-top: 5px;
    }
    &.edit-mode>h3{
        display:none;
    }
}

.editable{

    .actions{
         margin-left: 3px;
         vertical-align: top;
         font-size: 11px;
         cursor:pointer;
         color: $primaryLink;
         display: none;

        span{
            vertical-align: top;
            margin-top: 15px;
        }
        i{
            vertical-align: baseline;
        }
    }

    .edit-project-name{
        margin-bottom: 0px;
        font-size: 16px;
        margin-top: -1px;
    }

    h3:hover, h2:hover, &.edit-mode{
        .actions{
           display: inline;
        }
    }


}
// Waiting Quote specific styles
// -----------------------------
.module.module-quote.quote-waiting{
    .status-bar{
        min-height: 51px;
        height: auto;
        cursor: auto;
        .field{
            &.last{
                margin: 0;
                padding:0;
            }
        }
        .field-status dt{
            display: none;
        }
        .field-status dd{
            line-height: 20px;
            margin-top: 8px;
            margin-left: 0px;
            display: block;
        }

        .field-separator{
            height:51px;
        }

        .field-cost, .field-delivery-date{
            padding-top: 3px;
            padding: 3px 9px 0px 9px;

            strong{
                display: block;
                font-size: 11px;
                margin-bottom: 3px;
            }
            big{
                font-size: 20px;
            }
        }

        .field-cost{
            big{
                color: #ffa36c;
                font-weight: bold;
            }
        }

        .field-details{
            line-height: 51px;
            font-size: 12px\9;
            font-size: 1.2rem;
            vertical-align: middle;
            color: $xBlue;
            font-weight: bold;
            width: auto;
        }
        .field-delivery-date ~ .field-details{
            display: none !important;
        }


    }

    .expiration-time{
        color: $xRed;
        font-size: 12px;
    }

    .overlay{
        height: 52px;
        .loader{
           line-height: 52px;
        }
    }

}

// Expanded, pending and waiting for acceptance quote common styles
// ----------------------------------------------------------------
.quotes-list .module.module-quote.quote-pending,.quotes-list .module.module-quote.quote-waiting,.quotes-list .module.module-quote.quote-pending{
    .quote-summary{
        padding-bottom: 18px;
        margin-left: 9px;
        margin-right: 9px;
        font-size: 1.2rem;
        dl{
            margin-bottom: 0;
        }
        dt {
            float: left;
            clear: left;
            width: 231px;
            text-align: right;
            font-weight: bold;
            color: $xBlue;
            padding: 9px 0px;

        }

        dd {
            padding: 9px 0px;
            margin: 0 0 0 261px;
            color: $xLighterGray;
            text-align: left;
        }
    }
}

// Expanded, pending quote specific styles
// ---------------------------------------
.quotes-list .module.module-quote.quote-pending{
    .content .content-wrapper{

        .message{
            text-align: center;
            color: $xDarkGray;
            font-size: 13px;
            font-weight: bold;
            padding: 9px 0px;
            background: #ccffcc;
            border-bottom: 1px solid darken(#ccffcc, 5%);
        }
        .quote-summary{

            padding-bottom: 18px;
            h4{

            }
            h4>i.icon-summary{
                height: 16px;
                margin-top: -2px;
                vertical-align: middle;
            }

        }
    }
}

// Expanded, waiting quote specific styles
// ---------------------------------------
.module.module-quote.quote-waiting.expanded{
    .action-bar .label.label-action{
        background: none;
        color: $xBlue;
        @extend .pull-right;
        line-height: 34px;
        padding: 0;
        margin-right: 36px;
        text-shadow: none;
        font-size: 12px;
    }
    .content .status-bar .field-details{
        //display: none;
    }

}

.module.module-quote{

    .content .content-wrapper{
        .offer-accept{
            overflow: hidden;
            margin-top: 18px;
            padding-right: 9px;
        }


    }



    &.module-single-view{
        .status-information{

            .content{

                .field{

                    border-right: 1px dashed darken($borderLine,5%);
                    float: left;


                    strong{
                        display: block;
                        font-size: 12px;
                        font-weight: normal;
                        color: $xLighterGray;
                        margin-bottom: 6px;
                    }
                    big{
                        font-size: 12px;
                        text-shadow: 1px 1px 1px #fff;
                    }

                    &.field-info{

                    }

                    &.field-cost{

                        min-width: 120px;
                        big{
                            color: #ffa36c;
                            font-weight: bold;
                        }
                    }
                    &.field-actions{
                        text-align: center;
                        float: right;
                        .btn{
                            margin-top: 6px;
                        }
                    }
                    &.field-accepted{
                        big{
                            font-size: 18px;
                            color: #ffa36c;
                            vertical-align: middle;
                            line-height: 46px;
                        }
                    }
                    &.last{
                        border: none;
                    }

                    &.field-offer-meta{
                        width: 100%;
                        clear: both;
                        height: 34px;
                        line-height: 34px;
                        padding: 0px;
                        border-top: 1px solid $borderLine;
                        @include box-shadow(inset 0px 1px 0px $white);
                        background: #fafafa;
                        margin-top: 9px;
                        text-shadow: 1px 1px 0px $white;

                        .expiration-info{
                            color: $xRed;
                            font-weight: bold;
                            padding-left: 9px;
                            float: left;
                        }
                        .confirmation-download{
                            float: right;

                        }
                    }
                }


            }


        }
    }
}
.module.module-quote.quote-pending{
    &.module-single-view{
        .status-information{

            .field-info{
                color: $xBlue;
            }
            .content .field.field-offer-meta{
                margin-top: 0px;
                color: $xDarkGray;
                padding-left: 9px;

                text-shadow: 1px 1px 0px $white;
            }


        }
    }
}

.module.module-quote.quote-waiting{

    &.module-single-view{
        .status-information .content{
            padding-top: 9px;

        }
    }
}



.module-single-view.quote-waiting.sticky-bar .status-information{
    position: fixed;
    top: 72px;
    z-index: 999;
    border-bottom: 1px solid darken($borderLine,10%);
    @include box-shadow(0 4px 4px rgba(0,0,0,.1));


    .content .field.field-offer-meta{
        //background: #f3f3f3;
    }

}

table.quotes-history .task-cost{
    text-align: right;
    padding-right: 20px;
}

.module.module-single-view .status-information{
    min-height: 53px;
    background: url(../img/module-header-bg.gif);
    @include box-shadow(inset 0px -1px 0px $white);

    .content{
        min-height: 53px;
        overflow: hidden;

        .field{
            padding: 18px;
        }
         .field-info{
            font-size: 20px;
            line-height: 1.25em;
            padding: 18px;
            border: none !important;
            color: $xBlue;
            background: none;
        }

    }
}




.module.module-quote .action-bar.status-bar{
  cursor: auto;
}
.alert-customer-notes{
	margin-left:9px;
	margin-right: 9px;
	font-size: 11px;
	margin-top: 9px;
}


.quote-in-aq {

  .module.module-single-view .status-information .content .field{
    font-size:16px !important;
    &.field-accepted{
      color:#ffa36c;
    }
  }
  div.other-data{
    display: table-cell;
    font-size:12px;
    padding-top:12px;
    padding-bottom: 12px;
    width:65%;
    text-align: right;
    padding-right: 24px;
    .total-cost{
      font-weight: bold;
      span{

        line-height: 24px;
      }
      .amount{

        padding-left:10px;
        font-size:18px;
        color:#000;
        line-height: 24px;
      }

    }
    .expiration-time{
      color: $xRed;
    }
  }

  .documents-download{
    padding: 5px 0px;
    font-size: 11px\9;
    font-size: 1.1rem;
    background: none;
    color: #467f97;

    a.trigger{
      font-weight: bold;
      color: #fff;
    }

    ul{
      list-style-type: none;
      margin-left: 9px;
      margin: 0;
      li{
        margin-bottom: 0px;
      }
      li a{
        color: #467f97 !important;
      }
    }

  }

}


.module.module-quote.module-alternating-quote{
  header{
    padding-left:24px;
    padding-right: 24px;
    h3{
      font-size:20px;
      font-weight: normal;
    }
    aside{
      float:right;
      height: 54px;
    }
  }

  .clearfix{
    clear:both;
  }

}

.alternating-quote-view{
  background: #fff;
  box-shadow: 0 1px 2px #bababa;
  .module.module-quote.module-single-view {
    border-top:0px;
    box-shadow: none;
  }
}

.single-quote-view{
  .module.section-header{
    header{
      aside{
        float: right;
      }
    }
  }

  .quote-in-aq {
    padding-bottom: 9px;

    .meta-data {
      border-right: none;
      width: 50%;
    }

    div.other-data {
      width: 50%;
    }

    header {
      margin-left: 9px;
      margin-right: 9px;
      border-bottom: 1px solid #cccccc;
      padding-top:9px;
      h3 {

        float: left;
        font-size: 20px;
        color: #467f97;
        font-weight: normal;
        padding:10px 5px;
      }
      aside {
        float: right;
        margin-top: 14px;
      }
      .clearfix{
        clear:both;
      }
    }
    .quote-actions{
      text-align: right;
      padding-right: 9px;
      padding-left:9px;
    }


  }

  .offer-actions{
    text-align: right;
    padding: 9px;
  }
}

.module.module-quote.module-single-view{
  .content-wrapper {
    border-top:none;
  }
}

.module-widget-new .entity-list li span.alternating-quote-name > span{
  display: inline-block;
}



body.single-quote-view .module.section-header>header h2 {
  color: #467f97;
}
