.modal.modal-my-account {
    .modal-header .close{
        margin-top: 4px;
    }
    .modal-body{
        padding: 0px 0px 0px 9px;
        @include box-shadow(inset 0px 2px 2px rgba(0,0,0,.2));
        position: relative;
        z-index: 0;
        overflow: hidden;
        @include box-shadow(inset 0px 2px 2px rgba(0,0,0,.2));
    }
    

    .nav-tabs{
        position: absolute;
        z-index: 2000;
    }

    .tabs-left > .nav-tabs > li{
        width: 195px;     
        margin-bottom: 9px;
        @include transition(width .25s ease-in);
    }

    .tabs-left.edit-mode  > .nav-tabs > li{
        width: 65px;
       font-size: 1.2rem;
        @include transition(width .25s ease-in);
        a{
            @include transition(width .25s ease-in);
            width: 47px;
            
            height: 22px;
            >span{
            
             opacity:0;
              @include transition(opacity .25s ease-in);
          }
        }
        
    }
    .tabs-left > .nav-tabs > li > a{
        font-weight: bold;
        border: none;
        background: #dcdcdc;
        min-width:0px;
        @include border-radius(0);
        @include transition(background .25s ease-in);
        padding: 9px;
        width: 177px;
        @include transition(width .25s ease-in);

        >span{
            
            width: 150px;
            position: absolute;
            left: 40px;
            top:11px;
            opacity:1;
            @include transition(opacity .25s ease-in);
        }

        &.loading>i{
            background: url(../img/loader-dark.gif)  center center no-repeat !important; 
        }
    }

    .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs > li > a:hover {
        border: none;
        background: lighten(#dcdcdc, 5%);
        @include transition(background .25s ease-in);
    }
     .tabs-left > .nav-tabs .active > a{
        background: #fff;
        width: 178px;
     }
    

    .tabs-left > .nav-tabs .active a{
        color: $xLighterGray;
        @include box-shadow(-3px 0px 2px rgba(0,0,0,.1));
    }
    .tabs-left > .nav-tabs .active > a:hover {
   
        background: lighten($tabsBg, 3%);
        border: none;
    }

    .tabs-left > .nav-tabs{
        border: none;
        margin-right: 0;
        margin-top: 36px;
    }

    .tab-content{
        z-index: 1000;
        position: relative;
        float: right;
        overflow: hidden;
        @include box-shadow(-2px 0px 2px rgba(0,0,0,.05));
        background: $white;
        height: 590px;

       
         .tab-pane{
            width: 485px;
            //padding: 27px 18px 27px 18px;
            height: 580px; 
            overflow: hidden;

            @include transition(width .25s ease-in);
            

            .wrapper{
                padding: 27px 18px 27px 18px;
            }
            &.edit-mode{
                width: 616px;

                @include transition(width .25s ease-in);
                

                .control-group{
                    border-bottom: 1px solid #f3f3f3;
                    margin-bottom: 9px;

                    &.actions{
                        padding-left: 146px;
                        border-bottom: none;

                        >.btn{
                            margin-right:9px;
                        }
                    }

                    &.error .controls>input{
                        margin-bottom: 9px;
                    }
                }

                .control-label{
                    padding-top: 9px;
                }

                label.checkbox{
                    font-weight: normal;
                    color: $primaryLink;
                    padding-top:0px;
                    margin-bottom:9px;
                }
                .controls{
                    .add-more{
                        font-size: 11px;
                        color: $primaryLink;
                        clear: both;
                        margin-bottom: 6px;
                        &.btn{
                            color: $xDarkGray;
                            margin-top: 6px;
                        }
                    }
                    .item-remove{
                        margin-top: 10px;        
                    }

                    .sms-enable{
                        margin-top:8px;
                    }

                    .phone-number{
                        overflow: hidden;
                        select{
                            width: 140px;
                        }
                        >* {
                            float: left;
                            margin-right: 6px;
                        }


                    }
                    &.social-network-controls{
                        margin-left: 84px;
                    }
                }
                #social-media-info .control-label{
                    width:0px;
                }
            }
         }

        .tab-pane .wrapper>section{


            header{
                margin-bottom: 18px;
                border-bottom: 1px dashed $borderLine;
                overflow: hidden;
                padding-right: 9px;

                h2{
                    font-size: 18px;
                    font-weight: normal;
                    margin-bottom: 0px;
                    color: $xBlue;
                    float: left;

                }

                .tools{
                    float: right;
                    line-height: 36px;
                }
            }



             // STYLES for non-form control groups
            div.control-group{
                margin-bottom: 3px;
                @include clearfix;
                
                &.profile-picture{
                    margin-bottom: 36px;
                    .profile-pic{
                        @extend .pull-right;
                    }
                    .details{
                        padding-top: 12px;
                        div.name{
                            color: $xLighterGray;
                        }
                        input{
                            margin-bottom:9px;
                        }
                    }

                }

                &.company-name{
                    font-size: 16px;
                    color: $xLighterGray;
                }

                &.company-logo{
                    img{
                        display: block;
                        margin-bottom: 9px;
                    }

                }
              
            }
            .control-label{
                color: $xDarkGray;
                >.optional{
                    font-size: 10px;
                    font-style: italic;
                    font-weight: normal;
                    color: #b8c773;
                    text-transform: none;
                    margin-top: -3px;
                }
            }
            div.control-label{
                width: 146px;
                font-weight: bold;
                float: left;
                text-transform: uppercase;
                color: $xLighterGray;
                
            }
            label.control-label{
                width: 90px;
            }

            div.controls{
               margin-left: 146px;
               color: $xDarkGray;
               p{
                padding: 0px 9px 3px 9px;
                margin-bottom: 4px;
                border-bottom: 1px solid #f3f3f3;
               }
               a.link-primary{
                   font-size: 11px;
               }

               .chosen-process{
                    margin-bottom: 9px;
               }
            }

            


            &#locale-info, &#pass-info{
                label{
                    padding-top: 9px;
                    width: 90px;
                    text-align: right;

                }

                .controls{
                    margin-left: 110px;
                }
            }

            &#pass-info {
                label{
                    padding-top: 9px;
                    width: 120px;
                    text-align: right;

                }


                .controls{
                    margin-left: 140px;
                }

                #pass-placeholder{
                    overflow: hidden;
                }
                #pass-placeholder .control-label{
                    float: left;
                    padding-top: 0px;
                    line-height: 22px;

                }
                #pass-placeholder .control-group{
                    display: block;
                    line-height: 22px;
                    .btn{
                        margin-left: 18px;
                    }
                }
            }

            &#personal-info{
                border-bottom: 1px solid $borderLine;

            }

            input.job-title{
                text-transform: none;
            }      

            // Select country chosen processed select

            #select_country_chzn a{
                height: 28px;

                span{
                    line-height: 28px;
                }
            }
        }
    }

    #company-data{
        #company-name-info{
            h2{
                font-size: 18px;
                color: $xDarkGray;
                padding-left: 0;
                font-weight: normal;
                margin-bottom: 18px;
            }
        }

       /* #company-name-info.no-defined textarea,  #company-name-info textarea:focus{
            border: 1px solid @inputBorder;
            padding-left: 9px;   
        }*/
    }

    #contact-channels{
        .contact-persons-list{

            .contact-person{
                margin-bottom: 9px;
                position: relative;
                &.expanded{
                    @include box-shadow(0px 1px 2px #d9d9d9);
                    .contact-info{
                        @include box-shadow(0px 1px 2px #d9d9d9);
                    }
                    .content.contact-details{
                        display: block;
                    }
                }

                &.placeholder{
                    .details{
                        padding-top: 21px;
                    }
                }
                .content.contact-details{
                    display: none;
                    padding: 9px;
                    .column{
                        width: 203px;

                        &.left{
                            float: left;
                        }

                        &.right{
                            float: right;
                        }
                    }
                    section{
                        margin-bottom: 9px;
                    }
                    section>header{
                        margin-bottom: 6px;
                        font-size: 10px;
                    }
                }

                .delete-overlay{
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    height: 54px;
                    width: 386px;
                    font-size: 14px;
                    text-align: center;
                    color: white;
                    z-index: 0;
                    padding-top: 9px;
                    .bg{
                         background: $xRed;
                         opacity: .8;
                         width: 100%;
                         height: 63px;
                         position: absolute;
                         top:0;
                         left:0;
                         z-index: 10;
                    }
                    span{
                        position: relative;
                        z-index: 100;
                        padding-top: 9px;
                        .btn{
                            margin-right: 9px;
                            padding-left: 6px;
                            padding-right: 6px;
                            font-weight: bold;
                        }
                    }
                }
            }
            .contact-info{
                background: #f3f3f3;
                height: 63px;
                position: relative;
                margin-bottom: 0px;
                .tools{
                    list-style-type: none;
                    position: absolute;
                    top:9px;
                    right: 9px;
                    opacity: 0;
                    @include transition(opacity .25s ease-in);
                    >li{
                        display: inline-block;
                        margin-left: 9px;

                        .link-warning>i{
                            margin-top: -3px;
                        }

                        a.link-small span{
                            font-size: 11px;
                        }
                    }
                }
                span{
                    color: $xBlue;
                    font-size: 16px;
                }

                &:hover{
                    
                    cursor: pointer;
                    background: lighten(#f3f3f3, 1%);
                    .tools{
                        display: block;
                        opacity: 1;
                        @include transition(opacity .25s ease-in);

                    }
                }

                .profile-pic{
                    border: none;
                    width: 63px;
                    height: 63px;
                    >img{
                        margin-top: 0px;
                    }
                }

                .details{
                    padding-top: 14px;
                }
            }
        }
    }

    #my-profile-info{
        
            .profile-pic{
                width: 63px;
                height: 63px;
                border: none;
                margin-right: 18px;
            }
            .details{
                padding-top: 12px;
            }

            margin-bottom: 27px;
        }

        .controls>img{
            margin-bottom: 9px;
        }
    }
    select{
        width: 230px;
    }   

    .edit-mode #my-profile-info{
        #change-avatar-form{
            margin:0px 9px 0px 0px;
        }
        .profile-pic{
            margin-bottom: 9px;
        }
        .action{
            margin-left: 18px;

        }
}

