// PROJECT MODULES SPECIFIC STYLES

// Base Css
// --------


.module.module-project{
    > header {
        height: 62px;
        line-height: 62px;

        h3 {
            height: 62px;
        }
    }

   .content > .status-bar .time-progress{
    margin-top: 16px;
    margin-bottom: 0;
   }

    .content > .status-bar .project-download{
        float: right;
        margin-top: 5px;
        margin-right: 9px;
        display: none;
    }

    &.expanded .content > .status-bar .project-download{
        //display: block;
    }



    .content-wrapper{
        @include box-shadow(inset 0 2px 1px rgba(0,0,0,.05));
        .time-progress{
            @include clearfix;
            margin-top: 9px;
            padding-bottom: 18px;
            border-bottom: 1px solid $borderLine;
            margin-left: 9px;
            margin-right: 9px;
        }
        .time-progress>*{
            float: left;
        }

        .time-progress .start-date, .time-progress .end-date{
            width: 11.9047619%;
            font-size: 11px;
            color: $xLighterGray;
            text-align: center;
        }

        .time-progress .end-date{
            text-align: center;
        }

        .time-progress{
            .progress{
                margin: 4px 1.33928571% 0 1.33928571%;
                width: 73.5119048%;
            }
        }
    }

    &.module-single-view{
        .content-files .review-jobs table td{
            padding-top: 18px;
            padding-bottom: 18px;

        }
    }

	.meta-data div.meta {
		margin-top: 24px;
		margin-left: 12px;
	}

}

.module-project-summary{
    padding-bottom: 0px;
    .time-progress{
        background: #fff;
        padding: 14px 9px;
        font-size: 10px\9;
        font-size: 1rem;
        .progress{
            width: 100%;
            margin-bottom: 0px;
        }
        .start-date{
            padding-left: 9px;
												text-transform: uppercase;
        }
        .end-date{
            text-align: right;
            text-transform: uppercase;
            padding-right: 9px;
        }
    }


}



.files-accordion .files-group header{
    font-size: 18px;
    color: #467F97;
    background: url(../img/dashed-embossed.png) bottom left repeat-x;
    padding-bottom: 9px;
    padding-top: 9px;
    padding-right: 9px;
    margin-bottom: 6px;
    overflow: hidden;

    .tools{
        float: right;
        margin-top: 0px;
        &.search{
            margin-top: -9px;
        }

        >input.filter-files{
            height: 20px;
            line-height: 20px;
            margin: 0;
            margin-top: 0px;
        }
        >.expand-files{
            margin-top: 0px;
        }
    }
}

.files-accordion .files-group#result-files{
    margin-bottom: 18px;
}

.files-accordion .files-group#result-files .tools{
    a{
        height: 14px;
        line-height: 14px;
    }
    a, button{
        float: right;
    }

    .expand-files{
        margin-left: 6px;
    }

}

.projects-list .module.module-project{
    .project-summary{
        padding-bottom: 18px;
        overflow: hidden;
        font-size: 12px;
        dl{
            margin-bottom: 0;
        }
        dt {
            float: left;
            clear: left;
            width: 231px;
            text-align: right;
            font-weight: bold;
            color: $xBlue;
            padding: 9px 0px;

        }

        dd {
            padding: 9px 0px;
            margin: 0 0 0 261px;
            color: $xLighterGray;
            text-align: left;
        }

    }
    &.project-cr.collapsed{
        box-shadow: none;
    }
    &.project-cr:before{
        position: absolute;
        width: 100%;
        padding: 2px;
        height: 90px;
        top: -2px;
        left: -2px;
        background: #dbcaa1;
        z-index: -1;
        //box-shadow: 0px 1px 1px rgba(0,0,0,.15);
        border-radius: 2px;
        transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
    }
    &.project-cr.expanded:before{
        background: transparent;
    }
}


.tasks-list {
    .task-item{
        @include clearfix();
        overflow: hidden;
        @include border-radius(4px);
        background: white;
        box-shadow: 0px 1px 1px #ccc6ca;
        margin-bottom: 12px;
        position: relative;

        .cell{
            display: table;
            width: 100%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;

            >.field{
                display: table-cell;
                vertical-align: middle;
            }
            .field.field-id{
                font-weight: bold;
                padding-top: 9px;
                padding-bottom: 9px;
            }
            .field.field-actions, .field.field-status{
                text-align: right;

                >a{
                    position: relative;
                    float: right;
                    font-size: 11px;
                    font-size: 1.1rem;
                    text-transform: uppercase;
                    padding: 6px;
                      height: 32px;

                    padding-left: 30px;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    text-align: center;
                    border-radius: 4px;
                    .icon-task-review{
                        position: absolute;
                        top: 50%;
                        margin-top: -9px;
                        left: 6px;
                        z-index: 0;
                    }

                    span{
                        position: relative;
                        z-index: 100;
                    }
                }
            }

            .field-cost{
                font-weight: bold;
                text-align: right;
            }
            .field-status{
                text-transform: lowercase;
                font-size: 11px\9;
                font-size: 1.1rem;
                color: $open;
                font-weight: bold;

                &:first-letter{
                    text-transform: uppercase;
                }
            }

            &.primary{
                padding: 9px;
                border-bottom: 1px solid #e3e6e6;
                box-shadow: 0px 1px 0px white;

            }

            &.secondary{
                padding: 6px 9px;
                @include gradient-vertical(#ffffff, #f8f8f8);
            }

            &.action{
                width: 112px;
                padding-right: 9px;
            }


        }

        .task-id{
            color: $xBlue;
            font-size: 16px;
            margin-bottom: 6px;
            padding-left: 4px;
        }


        .meta{

            .field{
                display: table-cell;
                padding-right: 9px;
                padding-top: 6px;
                font-size: 10px;
            }
        }

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.tasks-list+.separator{

        display: block;
        content: "";
        width: 100%;
        height: 1px;
        background: #e3e6e6;
        margin: 18px 0px;
        box-shadow: 0px 1px 0px white;
}
.module>header{
  .search {
    position: relative;
    line-height: normal;
    margin-top:5px;
    font-size:11px;
    margin-bottom: 0;
    .search-input-wrapper {
      position: relative;
      float:left;
					margin-left: 5px;
    }
    .btn {

      @include border-radius(0 $inputBorderRadius $inputBorderRadius 0);
      margin-top:0px;
      margin-left:0px;
      height: 23px;
      padding:0 10px 0 10px;
      box-sizing: content-box;
      font-size:11px;
      font-weight: 700;
      text-transform: uppercase;
    }
    input{
      font-size:11px;
      height: 23px;
      border: 1px solid #e0e0e0;
      margin: 0;
      line-height: normal;
      padding: 0;
      padding:0 10px 0 10px;
      vertical-align: middle;
      box-sizing: content-box;
      @include border-radius($inputBorderRadius 0 0 $inputBorderRadius);
      &:focus{
        @include box-shadow(none);
      }
      &::-ms-clear{
        display: none;
      }
        &.datepicker{
            width: 140px;
            @include border-radius($inputBorderRadius);
        }
    }
				input.search{
					border-right: 0;
				}

			input::-ms-clear {
      display: none;
    }

    .close{
      display: block;
      position: absolute;
      right: 10px;
      top: 7px;
      width: 12px;
      height: 12px;
      font-size: 1px;
      background: url(../img/icons.png) -178px 0 no-repeat;
      cursor: pointer;
      text-decoration: none;
      border: 0;
      outline: 0;
    }
  }

}

.leave-feedback-modal {
	width: 670px !important;
	.control-group {
		label {
			width:140px;
		}
		.controls textarea {
			width: 396px;
		}
	}

	.project-id {
		padding-top: 5px;
	}
	.btn-cta {
		min-width: 80px;
	}
	.btn-cancel {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		margin-left:15px;
	}
}

.single-project-view{
	.tabs-header {
		overflow: hidden;
		ul.nav-tabs{
			float:left;
			width:80%;
		}
	}
	.leave-feedback {
		float: right;
  margin-right: 5px;
		a {
			font-size: 12px;
		}
	}
}