.dropdown-select2 {
  position: relative;
  line-height: 36px;
  margin-top: 9px;

  #report-chosen,
  #item-chosen{
    min-width: 108px;
    background: none repeat scroll 0 0 white;
    border: 1px solid #D1D1D1;
    border-radius: 2px 2px 2px 2px;
    color: #535353;
    cursor: pointer;
    font-size: 20px;
    height: 34px;
    line-height: 34px;
    padding: 0 0 0 9px;
    position: relative;
  }
  .caret{

    width: 34px;
    height: 34px;
    background: url(../img/icons.png) 0px -354px no-repeat;
    border: none;
    border-left: 1px solid $inputBorder;
    float: right;
    margin-top: 0px;
    opacity: .3;
    @include transition(opacity 200ms linear);
    position: absolute;
    top: 0;
    right: 0;
  }

  .dropdown-menu{
    max-height: 300px;
    overflow-y: scroll;
    @include border-radius(0);
    margin-top: -1px;
    border: 1px solid $inputBorder;
    @include transition(all 200ms linear);
    @include box-shadow(0px 5px 8px lighten($xLighterGray,10%));
    li:first-child{
      border-top: none;
    }

    a{
      @include transition(background-color 200ms linear);
      line-height: 27px;
      font-size: 12px;
      padding: 0px 9px;
      margin-left: 1px;
      margin-right: 1px;  
      overflow: hidden;

      &:hover{
        @include transition(background-color 200ms linear);
        background: #f7f7f7;
        color: $grayDarkX;
      }

      span{
        float: left;
      }
      i{
        float: right;
      }
    }
  }
}

.dropdown-select2.dropdown-select2-small {
  #item-chosen {
    margin-top: 5px;
    font-size: 11px;
    height: 24px;
    line-height: 24px;
    padding-right: 43px;
  }

  .caret {
    width: 24px;
    height: 24px;
    background-position: -5px -359px;
  }
}
