@font-face {
    font-family: 'OpenSansRegular';
    src: url('../font/OpenSans-Regular-webfont.eot');
    src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Regular-webfont.woff') format('woff'),
         url('../font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../font/OpenSans-Semibold-webfont.eot');
    src: url('../font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../font/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}


.modal.modal-tour{
	width: 690px;
	margin-left: -345px;
	background: #fff;
	top: 10%;
	@include border-radius(0);
}

.modal.modal-tour .modal-header{
	background: #ffffff url(../img/module-header-bg.gif);
	height: 50px;
	padding: 5px 18px 5px 18px;
	border-top: none;

	h2{
		float: left;
		vertical-align: middle;
		line-height: 50px;
		font-size: 20px;
		color: $xRed;
		font-weight: normal;
	}
	.logo{
		float: right;
		>img{
			display: block;
		}
	}
}

.modal.modal-tour .modal-body{
	background: #fff;
	padding: 0px;
	overflow-x: hidden;

	
	p{
		font-size:14px;
	}

	.content{
		position: relative;
		padding: 18px;
		header{
			background: url(../img/dashed-embossed.png) bottom left repeat-x;
			font-size: 14px;
			color: $xDarkGray;
			padding-bottom: 9px;
			margin-bottom: 18px;
			.step-indicator{
				font-weight: bold;
				color: $xBlue;
				float: right;
				padding-right: 18px;
			}
			>span.icon{
				width: 24px;
				height: 24px;
			}
		}



		.wrapper{
			overflow: hidden;
			font-size: 14px;
			color: #808080;
			line-height: 22px;
			ul{
				list-style-type: none;
				margin-left: 9px;

				li{
					padding-left: 18px;
					margin-bottom: 6px;
					background: url(../img/tick.png) left center no-repeat;
				}
			}
			h3{
				font-size: 16px;
				margin-bottom: 18px;
			}
			p{
				margin-bottom: 18px;
			}
		}
		.column{
			float: left;
			
		}
	}
	.tour-s00{
		padding: 0px;
		background: url(../img/tour/s00_bg.jpg) bottom right no-repeat;
		.intro{
			background: url(../img/module-header-bg.gif);
			overflow: hidden;
			height: 68px;
			padding-bottom: 9px;
			.column.pull-left{
				width: 366px;
				padding: 18px 18px 0px 18px;

				h2{
					font-size: 18px;
					line-height: 22px;
					margin-bottom: 9px;
					color: $customersNavBackground;
				}
				p{
					font-size: 14px;
					color: $xLighterGray;
					line-height:22px;
				}
			}
			.column.pull-right{
				width:270px;
				text-align: center;
				padding-top: 9px;
				padding-bottom:9px;
			}
            img{
              max-width: 200px;
              max-height: 50px;
            }
		}

		.company-contacts-slider{
			margin-bottom: 27px;
			clear: both;
			background: #f3f3f3;
			overflow: hidden;
			height: 63px;
			@include box-shadow(0 2px 1px rgba(0,0,0,.05));  
			border-bottom: 1px solid $borderLine;

			.column.pull-left{
				width: 309px;
				padding-left: 18px;
				padding-right: 18px;
				line-height: 63px;
				text-transform: uppercase;
				font-size: 14px;
				color: $xDarkGray;
			}
			.column.pull-right{
				width: 327px;
				padding-right: 18px;

				.contact-info{
					margin-bottom: 0;
					.profile-pic{
						width: 63px;
						height: 63px;
						border:none;
						@include border-radius(0);
						margin-top: 0px;
						img{
							display: block;
							margin-top: 0px;
						}
					}	
					.details{
						padding-top:15px;
					}
				}
			}

			
		}

		.account-settings{
			clear: both; 
			margin-bottom: 18px;
			overflow: hidden;
			.column.pull-left, .column.pull-right{
				width: 336px;

				.control-group{
					width:240px;
					margin-left: 48px;
				}
				.chosen-process{
					width: 240px;
				}

				label{
					color: $xDarkGray;
					text-transform: uppercase;
					padding-bottom: 6px;
					margin-bottom: 6px;
					border-bottom: 1px dashed #d1d1d1;

				}

			}
		}

		.tour-wrapper{
			clear: both;
			text-align: center;
			overflow: hidden;
			margin-bottom: 18px;


			.btn-next {
				background: $customerComponents;
				background-repeat: repeat-x;
				border: 1px solid $customerComponents;
				color: $customerComponentsFont;
				&:hover{
					background: $customerComponentsHover;
					background-repeat: repeat-x;
					color: $customerComponentsFont;
				}
			}
		}

		.tour-intro{
			height: 136px;
			padding: 27px 18px 18px 18px;
		}
	}

	.tour-s01{
		background: url(../img/tour/s01_bg.jpg) bottom right no-repeat;
		overflow: hidden;
		.wrapper{
			clear: both;
			overflow: hidden;
			
		}
		.controls{
			margin-left: 0px;
			display: block;
			height: 32px;
			
		}
		.column .controls input{
			width: 230px;
		}
		.column .controls .input-prepend{
			padding-left: 1px;
		}
		.column .controls .input-prepend .add-on{
			width: 24px;
			height: 30px;
			line-height: 30px;
			vertical-align: middle;
			padding: 0px;
			display: block;
			float: left;
			text-shadow: none;
		}
		.column .controls .input-prepend input{
			width: 204px;
			display: block;
			float: left;
		}
		.column-1{
			width: 63px;
			margin-right: 18px;
		}
		.column-2{
			margin-right: 36px;
			margin-top: 1px;
		}
		.column-4{
			clear: both;
			width: 400px;
			margin-top: 36px;
			overflow: hidden;
		}


		.column-2, .column-3{
			width: 250px;
			.control-group{
				margin-bottom: 6px;
				input{
					height: 22px;
					line-height: 22px;
					margin-bottom: 6px;
				}
				
				&.email-wrapper{
					margin-top: 18px;
				}
			}

		}
		

		.note-info{
			clear: both;
			margin-top: 36px;
			color: $xDarkGray;
			background: none;
		}
	}


	&.overview{
		background: url(../img/tour/content-overview-bg.png);
	}

	.content.content-overview{
		
		font-family: "OpenSansRegular";
		min-height: 388px;
		padding: 0px;
	
		.top-bar{
			padding: 6px 6px 0px 6px;	
			clear: both;
			overflow: hidden;

			a{
				color: #7759ae;
			}


			header{
				float: left;
				background: none;
				margin: 0;
				padding-bottom: 12px;
				>*{
					float: left;
					line-height: 36px;
					height: 36px;
				}

				h2{
					background:#484c55;
					color: white;
					padding-left: 12px;
					padding-right: 12px;
					font-size: 20px;
					font-weight: normal;
					font-family: "OpenSansRegular";
					position: relative;

					>i.triangle{
						display: block;
						width:0;
					     height:0;
					     border-right:6px solid transparent;
					     border-top: 6px solid #484c55;
					     border-left:6px solid #484c55;
					     border-bottom:6px solid transparent;

						position: absolute;
						bottom: -12px;
						left: 0;
					}
				}

				.section-direct-link{
					padding-left:12px;
					padding-right: 12px;
					background:white;
					font-size: 12px;
				}
			}

			.btn-close{
				display: block;
				float: right;
				background: white url(../img/icons.png) -55px -354px no-repeat;
				width: 36px;
				height: 36px;

			}
		}

		
		.content-wrapper{
			padding: 0px 18px 0px 18px;
			h3{
				font-family: "OpenSansSemibold";
				font-weight: normal;
				font-size: 22px;
				color: $xBlue;	
				margin-bottom: 18px;
			}
			p, ul{
				font-size: 14px;
				line-height: 22px;
				color: #535353;
				margin-bottom: 18px;
			}

			ul{
				margin-left: 9px;
			}
			li{
				margin-bottom: 6px;
				list-style-type: none;
				background: url(../img/tick.png) left center no-repeat;
				padding-left: 27px;
			}
		}

		&.tour-s02{ 
			background: url(../img/tour/v2-dashboard-bg.png) bottom left no-repeat;
			.content-wrapper{
				padding-left: 294px;
				padding-top: 84px;
			}
		}
		&.tour-s03, &.tour-s04{ 
			background: url(../img/tour/v2-quotes-bg.png) bottom right no-repeat;
			.content-wrapper{
				padding-right: 300px;
				padding-top: 64px;
			}
		}
		&.tour-s04{
			background: url(../img/tour/v2-projects-bg.png) bottom right no-repeat;
		}

		&.tour-s05{ 
			background: url(../img/tour/v2-invoices-bg.png) bottom right no-repeat;
			.content-wrapper{
				padding-right: 372px;
				padding-top: 84px;
			}
		}
		&.tour-s06{ 
			background: url(../img/tour/v2-reports-bg.png) bottom left no-repeat;
			.content-wrapper{
				padding-left: 372px;
				padding-top: 114px;
			}
		}
	}
}


.modal.modal-tour .modal-footer{

	font-family: "OpenSansRegular";
	background: #fafafa;
	padding: 5px 6px; 
	height: 36px;
	.xtrf-logo{
		float: left;
		line-height: 36px;
	}
	label.startup-show{
			margin-left: 16px;
			margin-bottom: 0px;
			float: left;
			text-align: left;
			>span{
				float: left;
				min-width: 300px;
				font-size: 11px;
				vertical-align: middle;
				word-wrap: break-word;
				line-height: 36px;
			}
			
			font-weight: normal;
			color: $primaryLink;
			margin-right: 20px;

			&:hover{
				text-decoration: underline;
			}
			input[type="checkbox"]{
				margin: 11px 0px 7px -18px;
			}
		}
		.back-link.loading{
			.icon-previous-step{
				background: url(../img/350.gif) center center;
				height: 16px;
			}
		}
	.tools{
		@extend .pull-right;
		>*{
			float: right;
		}
		display: table;

		.skip-link{
			line-height: 36px;
			margin-right: 18px;
			font-size: 11px;
		}

		.btn{
			float: right;
			padding-right: 6px;
			padding-left: 6px;
		}
	}

	.steps{
		display: block;
		float: left;
		list-style-type: disc;
		>li{
			display: inline-block;
			margin-right: 5px;
		}
	}
}
