// TOP BAR STYLES

// Base Css
// --------

#main-header{
    margin-bottom: 0px;
    .toolbar{
        height:$baseLineHeight*2;
        background: $xDarkGray;
        
        .nav{
            float: right;
        
            li>.btn{
                @include border-radius(0);
                margin:0;
                line-height:16px;
                vertical-align: middle;
                font-size: 11px;
                padding: 10px 9px 8px 9px;
                background: #3b3b3b;
                color: #d9d9d9;
                text-shadow: 1px 1px 0px rgba(0,0,0,.15);
                border: none;
                margin-left: 4px;
                @include box-shadow(inset 0px 1px 1px rgba(0,0,0,.2));
                @include buttonBackground(#3b3b3b, desaturate(darken(#3b3b3b,4%),5%));
                
                &:hover{
                    @include box-shadow(inset 0px 1px 1px rgba(0,0,0,.2));
                }   


                &.btn-primary{
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $white;
                    text-shadow: 1px 1px 0px rgba(0,0,0,.2);
                    @include buttonBackground(#94b7c3, desaturate(darken(#94b7c3,4%),5%));
                    &:hover{
                        @include box-shadow(inset 0px 1px 1px rgba(0,0,0,.2));
                    }

                    &.disabled{
                        display: none;
                    }                    
                }

                >.caret{
                    width: 16px;
                    height: 12px;
                    border: none;
                    margin-top: 2px;
                    opacity:.9;
                    background: url(../img/icons.png) -32px 0px no-repeat;
                }
                &.loading{
                    >i{
                        margin-top: -3px;
                        margin-right: 3px;
                    }
                }
            }
        }

        #my-account-menu{
            min-width:268px;
            max-width: 300px;
            font-size: 12px;
            margin-top: 10px;

            .id-data{
                @include clearfix;
                padding: 16px 9px 9px 9px;
                border-bottom: 1px solid #e5e5e5;   
                .profile-pic {
                    margin-right: 9px;
                }
                .name{
                    font-size: 16px;
                    color: $xDarkGray;
                }
                .email{
                    color: $xLighterGray;
                }

                #id-edit{
                    margin-top: 14px;
                    padding: 0px;
                    font-size: 11px;
                }
            }
            #nav{
                border-top: 1px solid $white;
                margin-bottom: 18px;
                li{
                    border-bottom: 1px solid #e5e5e5;
                }
                li>a{
                    padding: 4px 8px;
                    font-size: 12px;
                    background: #fafafa;
                    @include transition(background .5s ease);
           
                    &:hover{
                       background: darken(#fafafa, 3%);
                        @include transition(background .5s ease);
                    }

                    >i{
                        height: 16px;
                        margin-top: -2px;
                    }
                }
            }
            .tools{
                @include clearfix;
                padding: 0px 9px;
                margin-bottom: 7px;

                .btn{
                    
                    padding: 1px 3px;
                    margin: 0;
                }
                #logout-link{
                    @extend .pull-right;
                    line-height: 22px;
                    font-size: 11px;
                    padding: 0;
                    
                }
            }
        }
        
    }

    .nav-wrapper{
        height:77px;
        background:#f5f5f5;
        @include box-shadow(inset 0px 2px 2px rgba(0,0,0,.2));
        position: relative;
        z-index: 0;

        .shadow{
            z-index: -1;
            position: absolute;
            bottom:0;
            height: 5px;
            width: 100%;
            background: #d4d4d4;
            @include box-shadow(inset 0px 0px 3px rgba(82,82,82,.1));
        }

        .logo{
            @extend .pull-left;
            a{
               display: block;
                margin-top: 9px;
                img{
                    display: block;
                }
            }
            
        }

        #primary-nav{
            @extend .pull-right;
            z-index: 2;
            li{
                margin-left: 5px;
                margin-right: 5px;
                @include transition(background-color .5s ease);
                width: 90px;
                &.separator{
                    margin: 0px;
                    width: 2px;
                    span{
                        display: block;
                        height: 52px;
                        width: 2px;
                        background: url(../img/primary-nav-separator.png) left center no-repeat;
                        margin-top: 10px;
                    }
                }

                &:hover{
                    //background: rgba(0,0,0,.05);
                    
                    @include transition(background-color .5s ease);
                }

                >a{
                    padding: 40px 9px 13px 9px; 
                    height: 19px;
                    line-height: 15px; 
                    font-size: 12px;
                    color: #891924;
                    text-transform: uppercase;
                    text-shadow: 1px 1px 0px $white;
                    text-align: center;
                    background: none;
                    
                    @include transition(border .1s ease);
                    position: relative;
                    
                    .icon{
                        display: block;
                        width: 24px;
                        height: 24px;
                        //margin: -20px auto 0 auto;
                        position: absolute;
                        top: 13px;
                        left: 50%;
                        margin-left: -12px; 
                    }

                }
                &.active{
                    //background: rgba(0,0,0,.05);
                   
                    >a{
                        border-bottom: 5px solid $xRed;
                        @include transition(border .3s ease);
                        cursor: default;
                    }

                    
                    
                }
                >a:hover{
                    border-bottom: 5px solid lighten($xRed, 10%);
                    @include transition(border .3s ease);
                }

                >a.disabled{
                    span{
                        color: lighten($xLighterGray, 15%);
                    }
                    &:hover{
                        cursor: default;
                        @include transition(none);
                        border-bottom: none;
                    }
                }

            }
            
            &.ru{
                li.quotes{
                    width: 120px;
                }
            }
            &.et{
                li.quotes{
                    width: 140px;
                }    
            }

            &.be{
                li.quotes, li.reports{
                    width: 100px;
                }
            }

            &.de{
                li.invoices{
                    width: 120px;
                }    
            }
            &.es{
                li.quotes{
                    width: 120px;
                }    
            }
            &.lv{
                li.dashboard{
                    width: 100px;
                }    
            }

            &.pt_BR{
                li.quotes{
                    width: 110px;
                }
            }

        }
    }

    

    .breadcrumbs{
        height: 36px;
        background: #f7f7f7;
        border-bottom: 1px solid #dedede;
        @include box-shadow(0 1px 0px #fff);
    }
}

body.offset{
    #main-header{
        @include box-shadow(0 2px 2px rgba(0,0,0,.2));   
        @include transition(box-shadow .5s ease);
    }
}





#main-header{
    margin-top: 0px;
}