
.dashboard-container{
  max-width: 1600px;
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
  position: relative;
  [class*="span"]{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: static;
    &[data-col="1"]{
      padding-left: 0px;
    }
  }

  &.dash-c-tmp [class*="span"]{
    margin-left: 0px;
    padding-left: 0px;
  }

  .btn-add-widget-main{
    position: absolute;
    top: 0px;
    right: 30px;
    background:white;
    padding: 6px 9px;
    border: none;
    color:$xBlue;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 11px;
    &:hover{
      text-decoration: none;
      color: #4c77c2;
    }
  }
}
.module.module-widget-new{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding:0;
  >*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  height: 290px;
  position: relative;
  @include gradient-vertical(#fdfdfd, #f0f0f0);

.content{
  height: 254px;
  width: 100%;
  padding: 0px;
  overflow: hidden;

  &.content-scrollable{
    .jspTrack{
      margin-top: 3px;
    }
    .jspDrag{
      width: 8px;
      border-radius: 4px;
      background: #a7a4a7;
      box-shadow: inset 0px 1px 0px rgba(0,0,0,.35), 0px 1px 0px white;
      margin: 0 auto;

    }
  }
}


  @include border-radius(3px);

>header{
  display: table;
  height: 36px;
  min-height: 36px;
  background: none;
  background-color: $customerComponentsTabs;
  background-repeat: repeat-x;
  border-bottom: 1px solid $customerComponentsTabs;
  @include box-shadow(none);
border-top: none;

width: 100%;
padding: 0px 18px;
cursor: move;
position: relative;
*{
  display: table-cell;
  vertical-align: middle;
}

span{

  font-size: 14px;
  line-height: 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #424042;
  background: none;

  a{
    color: white;
    &:hover{
      text-decoration: none;
    }
  }
}

.tools{
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 9px;
  padding-top:0px;
}
  }
&.active{
  box-shadow: 0px 0px 15px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,.5);
  transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
}
  }


.module-widget-new{
  &[data-status="fresh"]{
    .content{
      display: table;
      .empty-set-placeholder{
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        text-align: center;
        font-size: 12px;
        color: #999;
        text-shadow: 1px 1px 1px white;
      }
      h3{
        font-size: 18px;
        color: $xDarkGray;
        font-weight: normal;
        margin-bottom: 18px;
      }
    }
  }

  &[data-status="empty"], &[data-status="restricted"]{
    .content{
      display: table;
      .empty-set-placeholder{
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        text-align: center;
        font-size: 12px;
        color: #999;
        text-shadow: 1px 1px 1px white;
        padding: 0px 0px 9px 0px;
        .active-counter{
          h3{
            font-size: 56px;
            margin-bottom: 9px;
            color: $xDarkGray;
            font-weight: normal;
          }
        }
      }

    }
  }
  &[data-status="restricted"] .content .empty-set-placeholder .active-counter h3{
    font-weight: normal;
  }

  .entity-list{
    list-style-type: none;
    margin: 0;

    li{
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      border-left: 4px solid #d4d4d4;
      border-top: 1px solid white;
      border-bottom: 1px solid #dcdcdc;
      padding-left: 18px;
      height: 42px;
      display: table;
      width: 100%;
      @include transition(all .15s ease-in);
      &:hover{
        background: darken(#f4f4f4, 2%);
      }
      &:last-child{
        border-bottom: none;
      }

      &.quote-wfa{
        border-left-color: $waitingForAccept;
      }
      &.quote-p, &.project-opened{
        border-left-color: $pending;
      }

      &.invoice-overdue{
        border-left-color:  #ff311a;
        .name>a, .info>*{
          color: #ff311a;
        }
      }
      &.invoice-av, &.invoice-overdue{
        .info>small{
          padding-right:9px;
          margin-right: 9px;
          border-right: 1px solid #cccccc;
        }
      }
      span{
        display: table-cell;
        vertical-align: middle;
        font-size: 1.2rem;
        &.amount-from{
          display: inline-block;
          margin-right: 3px;
        }
      }
      .name{
        a{

          text-shadow: 1px 1px 1px white;
          color: $xDarkGray;
        }
      }
      .info{
        text-align: right;

        padding-right: 9px;
        small{
          font-size: 10px;
          font-style: italic;
        }
        small[data-localize]{
          border-right: none;
          padding-right: 0;
          margin-right: 0;
        }
        big{
          font-size: 16px;
          font-weight: bold;
          color: $xBlue;
          vertical-align: middle;
          margin-right: 9px;
        }
        a.preview-link{
          padding-left: 9px;
          padding-top:6px;
          padding-bottom: 6px;
          border-left: 1px solid #dcdcdc;
          margin-left: 9px;

          &:hover .icon-preview{
            background-position: -72px -278px;
          }
        }
      }

      &[data-status="quote-accepted"]{
        background: #ccffcc;

        .quote-acceptance-cancel{
          border-left: 1px solid #dcdcdc;
          margin-left: 9px;
          padding-left: 9px;
          text-decoration: underline;
        }


      }
      &[data-status="quote-acceptance-error"].error{
        background: white;

        strong{
          color: #ff0000;
        }
      }

    }

			&.quotes-entity-list,
			&.projects-entity-list {
				li{
					table-layout: fixed;
					span.info{
						width: 40%;
					}
				}
			}


    &.reviews{
      li{
        border-left: none;
        padding:0;
        &:hover{
          background: none;
        }
      }
      li>header{
        display: table;
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        background: #f1f1f1;
        padding: 5px 18px 5px 12px;
        border-bottom: 1px solid white;
        box-shadow: 0px 2px 2px rgba(0,0,0,.1);
        >div{
          display: table-cell;
          vertical-align: middle;
        }

        .actions{
          text-align: right;
        }
        .meta{
          line-height: 1.5rem;
          a{
            font-weight: bold;
            color: #525252;
            font-size: 12px\9;
            font-size: 1.2rem;
            text-shadow: 1px 1px 0px white;
          }

          .project-ref{
            font-size: 10px\9;
            font-size: 1rem;
            color: #999999;
            font-weight: normal;
          }
        }
      }

      li .reviews-list {
        margin: 0;
        li{
          padding: 4px 18px 4px 12px;
          height: auto;
          position: relative;
          .tools{
            position: absolute;
            display: block;
            width: auto;
            white-space: nowrap;
            transition-property: all;
            left: 17px;
            top: 100%;
            z-index: 100;
            visibility:hidden;
            opacity: 0;
            transition-delay: 0;
            @include box-shadow(0px 2px 8px $xLighterGray);
            background-color: #ffffff;
            border-radius: 2px;
            @include gradient-vertical(#ffffff, #f2f2f2);
border: 1px solid #fff;

a{
  padding: 4px 26px 4px 8px;
  font-size: 12px;

  color: $primaryLink;
  display: block;
  position: relative;
  overflow: hidden;
  @include transition(background .5s ease);
  border-top: 1px solid $white;
  border-bottom: 1px solid #e5e5e5;
  >span{
    transition: transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    position: relative;
    display: block;
    float: left;
  }
  >.icon{
    transition: transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -6px;
  }
  &:hover{
    background: rgba(255,255,255,.7);
    text-decoration: none;
    @include transition(background .5s ease);

    >span{
      transform: translateX(18px);
      -webkit-transform: translateX(18px);
    }
    >.icon{
      transform: translateX(34px);
      -webkit-transform: translateX(34px);
    }
  }

  &:first-child{
    border-top: none;
  }
  &:last-child{
    border-bottom: none;
  }
  &+a{
    border-bottom: none;
  }
}
  }
.confirmation-download:hover .tools{
  transition-delay: 400ms;
  visibility:visible;
  opacity:1;
}
&:first-child{
  border-top: none;
}
a{
  font-size: 11px\9;
  font-size: 1.1rem;
  color: $ctaLink;
}
  }
  }
  }
  }
  }

.module-widget-new.module-report{
  &[data-status="error"], &[data-status="empty"]{
    .content{
      background: url(../img/reports-placeholder.png) center center no-repeat;
      background-size: contain;
      position: relative;

      >.note{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        display: table;
        vertical-align: middle;
        width: 90%;
        margin: 0 auto;
        margin-left: 18px;
        margin-right: 18px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        padding: 9px;
        border: 1px solid #dceba2;
        background: #ebfeb9;
        color: $xDarkGray;
        height: 56px;
        margin-top: 94px;
        >span{
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
  &[data-status="error"] .content .note{
    color: #ff311a;
    border-color: #ff311a;
    background: white;

  }
}


.modal.modal-widget-select{
  max-width: 1050px;
  width: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: 0px;
  @include gradient-vertical(#cdcdcd, #d4d4d4);


.modal-header{
  position: relative;
  z-index: 100;
  background: transparent url(../img/shadow-wide.png) center bottom no-repeat;
  border: none;
  padding: 0px;
  padding-bottom: 8px;
  margin-bottom: -9px;

  header{
    background: white;
    color: $xBlue;
    font-size: 20px;
    padding: 18px;

    .btn-close{
      display: block;
      float: right;
      background: white url(../img/icons.png) -62px -362px no-repeat;
      width: 21px;
      height: 21px;
    }
  }
  .filters{
    background: white;
    clear: both;
    overflow: hidden;
    border-top: 1px solid #d5d5d5;
    ul{
      list-style-type: none;
      float: right;
      margin: 0;
      li{
        display: block;
        float: left;
        border-left: 1px solid #d5d5d5;
        margin: 0;
        a{
          display: block;
          padding: 9px;
          font-size: 11px;
          font-weight: bold;
          color: $xDarkGray;
          text-transform: uppercase;
          small{
            color: #c2c2c2;
          }
        }
        &:hover a, &.active a{
          @include gradient-vertical(#e8ebeb, #fcfcfc);
text-decoration: none;
  }
&.disabled a{
  cursor: default;
  color: #b7b7b7;
  &:hover{
    background: none;

  }
}


&.search input{
  border: none;
  margin: 0;
  line-height: 36px;
  padding: 6px 9px 5px 36px;
  background: url(../img/icons.png) 0px -424px  no-repeat;
  margin-top: -1px;
  vertical-align: middle;
  &:focus{
    @include box-shadow(none);
  }
}
  }
  }
  }
  }

.modal-body{
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0px;
  overflow-y: scroll;
  height: 510px;
  background: none;
  padding-left: 0px;

  .widget-wrapper{
    padding-left: 15px;
    margin-left:0px;
    list-style-type: none;
    margin-bottom: 15px;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
  }
  .widget{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 15px;
    padding: 9px;
    background: white;
    float: left;
    width: 100%;
    @include border-radius(2px);
    @include gradient-vertical(#ffffff, #fafafa);
border: 1px solid white;
  @include box-shadow(0px 1px 2px #bababa);
h2{
  color: $xRed;
  font-size: 14px;
  line-height: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 9px;
}
p{
  font-size: 12px;
  margin-top: 0;
}

.tools{
  font-weight: bold;
  padding-top: 9px;
  background: url(../img/dashed-embossed.png) top left repeat-x;

  .status{
    color: #b7b7b7;
  }
}
  }
  }
  }

.module.module-widget-placeholder, .gridster .preview-holder{
  height: 286px;
  background: none;
  border: none;
  @include border-radius(4px);
  @include box-shadow(none);
  display: table;
  padding-bottom: 0px;
  width: 100%;
  border: 2px dashed lighten(#b9b7b9, 5%);
  .content{
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    color: #b9b7b9;
    font-weight: bold;
    .icon-add-widget{
      margin-bottom: 10px;
    }

    &:hover{
      color: darken(#b9b7b9, 10%);
      .icon-add-widget{
        background-position: -63px -460px;
      }
    }
  }
}

.gridster .preview-holder{
  background: darken(#d4d4d4, 2%) !important;
}

.landing-card-row{
  margin-left: 0px;

  .module.module-widget-new{
    height: auto;

    header{
      cursor: auto;
      span{
        color:#FFF;
      }
    }
    section.content{
      padding: 10px;
      height: auto;
      color:#000;
    }
  }
}


.module-widget-new.module-contact{
  .content{
    padding: 18px 9px 9px 9px;

    .contact-info{
      margin-bottom: 18px;
    }
  }
}

.module-widget-new.module-stats{
  .stat-counter{
    height: 121px;
    border-bottom: 1px solid #dcdcdc;
    display: table;
    width: 100%;
    >*{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    h3 a{
      font-size: 56px;
      font-weight: normal;
      text-shadow: 0px -1px 0px darken($xLighterGray, 5%);
      &:hover{
        text-decoration:none;
      }
    }
    p{
      margin-bottom: 0px;
      font-size: 12px;
      text-transform: uppercase;
    }

    &.waiting-quotes{
      h3 a{
        color: $waitingForAccept;
        text-shadow: 0px -1px 0px darken($waitingForAccept, 5%);
      }
    }

    &.active-quotes{
      h3 a{
        color: $pending;
        text-shadow: 0px -1px 0px darken($pending, 5%);
      }
    }

    &.overdue-invoices{
      h3 a{
        text-shadow: 0px -1px 0px darken(#ff311a, 5%);
        color: #ff311a;
      }
      p{
        color: #ff311a;
      }

    }
  }

  .stat-counter+.stat-counter{
    border-top: 1px solid white;
    border-bottom: none;
  }
}
.module.module-invoices .content{
  overflow: visible;
}
.entity-list.invoices li:last-child:hover{
  background: none;
}
.entity-list.invoices  .confirmation-download>span{
  padding-top: 7px;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}

.entity-list.invoices  .confirmation-download > .tools{
  top: 85%;
  left: 0;
  position: fixed;
  z-index: 2000;
  .document{
    display: block;
    width: 400px;
    border-top: 1px solid #e3e3e3;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
    padding-top: 6px;
    font-size: 11px;
    &:first-child{
      border-top: none;
    }
    a{
      display: inline;
      font-size: 11px;
      padding: 0;
      border: none;
      background: none;
      vertical-align: middle;
      &:hover{
        text-decoration: underline;
      }
    }
    span{
      display: inline;
    }
  }
}


@media screen and (min-width: 1360px), (max-width: 1024px) {
  .module-widget-new.module-stats .stat-counter{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 50%;
    padding-left: 18px;
    padding-right: 18px;
    height: 254px;
    float: left;
    border-bottom: none;
    border-right: 1px solid #dcdcdc;

    &+.stat-counter{
      border-top: none;
      border-right: none;
      border-left: 1px solid white;
    }
  }
}
ul.gridster{
  .module.module-widget-new>header span{
    cursor: move;
    a {
      color: $customerComponentsFont;
      cursor: pointer;
    }
  }
  .landing-card-row{
    margin-left:0 !important;
  }

  @media screen and (max-width: 1024px) {
    .module.module-widget-new>header{
      cursor: default;
      span{
        cursor: default;
      }
    }
  }
  .lt-ie9{
    .module.module-widget-new>header{
      cursor: default;
    }

    .module.module-widget-new .content.content-scrollable {
      overflow-y: auto;
    }
  }
}

.icon-qr-svg, .icon-pr-svg {
  background-image: none;

  svg {
    width: 20px;
    height: 20px;
    vertical-align: sub;
  
    .a {
      stroke: $customerComponentsFont;
      fill: none;
    }
  } 
} 