.modal.modal-quick-contact{
    position: fixed;
    top: 10%;
    .modal-body{
        overflow-y: hidden;
        .content{
            overflow: hidden;
        }
    }
    .control-group{
        label{
            line-height: 36px;
            padding-top: 0;
            width: 80px;
        }

        .controls{
            margin-left: 110px;

            input{
                width: 310px;
            }

            textarea{
                width: 396px;
                line-height: 18px;
                resize: vertical;
            }

            select{
                width: 330px;
            }

            .contact-info .details{
                padding-top: 11px;
            }

            .contact-info .remove-contact-person{
                float: left;
                margin-left: 18px;
                padding-left: 18px;
                border-left: 1px dashed #dddddd;
                height: 36px;
                padding-top: 18px;
                .close{
                    color: $xRed;
                }
            }
            #contact-info-details{
                margin-bottom: 0px;
            }
        }
    }
}

