
a, a:focus {
   outline: 0;
}

.linkified, .linkified:hover {
    color: inherit;
}

a.cta-link{
    color: $ctaLink;
}

.overlay.section-loader{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 115px;
    left: 0px; 

    >.loader{
        position: fixed;
        left: 50%;
        top: 40%;
    }
}
#main-container{
    padding-top: 106px;
    padding-bottom: 54px;


}

.init-loader{
    height:100%;
    .loader{
        text-align: center;
    }
    .xtrf-logo{
        
    }

}
.overlay{
    width: 100%;
    height: 18px; /*to be overwriten in specific loader*/
    background: rgb(255,255,255);
    background: rgba(255,255,255, .7);
    position: absolute;
    bottom: 0px;
    left:0px;
    text-align: center;
    .loader{
        line-height: 18px; /*to be overwritten in specific loader*/
        img{
            vertical-align: middle;
        }
    }
}

#left-content{
    position: relative;

    .overlay{
        top: 0;
        height: 100%;

        .loader{
            position: absolute;
            left: 50%;
            top: 20%;
        }
    }

}

.text-transform-none * {
    text-transform: none!important;
}


.modal-footer .overlay{
    height: 54px;

    .loader{
        line-height: 54px;
    }
}

.nav-actions{
    .link-return{
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 36px;
        >i{
            vertical-align: middle;
        }
    }
}

.file-browser{
    background: $white;
    padding: 9px;
    color: $xLighterGray;
    font-size: 1.2rem;

    a{
        
        &:hover{
            text-decoration: none;
        }
    }

    ul{
        list-style-type: none;
        margin:0;
        width: auto;
        
        li{
            
            padding: 0px;
            padding-left: 14px;
            background: url(../img/flist.png) top left repeat-y;
            
            // border-left: 1px solid #f3f3f3;
            // margin-left: -1px;
             &.expandable{
               background: url(../img/ff.png) top left no-repeat;
               
              }
            &.last{
                background: url(../img/flast.png) 0px 0px no-repeat;
            }
            .file-row-wrapper{
                border-bottom: 1px solid #f3f3f3;    
                height: 27px;
                line-height: 27px;
                vertical-align: middle;
                font-weight: bold;

                .highlighted{
                    background: yellow;
                }
                &.file-row-file{
                    padding-left: 1px;
                    font-weight: normal;
                }

				.highlighted{
                    background: yellow;
                }
				
                .language-combination{
                    font-weight: normal;
                    margin-right: 9px;
                    color: $xLighterGray;
                }

                .action-fields{
                    float: right;
                    width: 120px;
                    border-left: 1px solid #f3f3f3;
                    .field{
                        float: left;
                        padding: 0px 9px 0px 9px;
                        
                    }
                    a{
                        font-weight: normal;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        &.level0{
            >li{
                padding-left: 0px;
                background: none;
                border: none;            
            }
        }
    }

    .sub-tree{
       margin-left: 3px;
       
        
    }

}


#main-footer{
    padding: 5px 10px 5px 10px;
    position: fixed;
    bottom: 0;
    right:0;
    margin: 0px 40px; 
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    @include gradient-vertical(#f0f0f0, #ffffff);
    @include box-shadow(#{"inset 0px 1px 0px #ffffff, 0px -1px 2px rgba(0,0,0,.4)"});
    filter: none;
    line-height: 18px;
    vertical-align: middle;
    color: #818285;
    font-size:11px; 
    z-index: 100;
}
#main-footer .xtrf-logo{
    margin-top: 0px;
    float: none;
    vertical-align: middle;
    display: inline-block;
}

footer .xtrf-logo, .modal-footer .xtrf-logo, body.report-print-view .content footer .logo{
    float: right;
    display: block;
    width: 75px;
    height: 18px;
    background: url(../img/icons.png) -228px -782px no-repeat;
    margin: 11px 18px 0px 0px;
}
footer .xtrf-logo{
    margin: 17px 0px 0px 0px;
}
.modal-footer .xtrf-logo{
    margin: 9px 0px 0px 0px;
}
body.report-print-view .content footer .logo{
    margin:0;
}

.note{
    margin-top: 18px;
    padding:6px;
    background: white;
    font-size: 12px\9;
    font-size: 1.2rem;

    
    &.note-error{
        color: $xRed;
    }   

    &.note-no-resources{
        text-align: center;
        font-size: 16px;
        color: #808080;
        padding-top: 32px;
        padding-bottom: 32px;
        margin-top: 0;
    }
}