.modal.modal-my-account {
	.empty-placeholder{
				text-align: center;
				
				vertical-align: middle;
				font-family: "Arial Narrow", sans-serif;
				font-weight: bold;
				font-size: 18px\9;
				font-size: 1.8rem;
				color: #c8c6c8;
				text-shadow: 0px 1px 0px white;
				width: 100%;
				height: inherit;
	}
    .modal-header .close{
        margin-top: 4px;
    }
    .modal-body{
        padding: 18px 0px 0px 0px;
        @include box-shadow(inset 0px 2px 2px rgba(0,0,0,.2));
        position: relative;
        z-index: 0;
        overflow: hidden;
        @include box-shadow(inset 0px 2px 2px rgba(0,0,0,.2));
        behavior: url(../pie.htc);
        background: #d1d1d1;
    }
    

    .nav-tabs{
        position: relative;
        z-index: 999;
        margin-bottom: 0px;
        padding-left: 18px;
        border-bottom: 0px;
    }

    .nav-tabs > li{
        margin-bottom: 0px;
        margin-right: 9px;
    }
    
    .nav-tabs > li > a{
        font-weight: bold;
        border: none;
        background: #f0f0f0;
        min-width:0px;
        @include border-radius(0);
        @include transition(background .1s ease-in);
        padding: 9px; 
        -webkit-border-top-left-radius: 2px;
        -webkit-border-top-right-radius: 2px;
        -moz-border-radius-topleft: 2px;
        -moz-border-radius-topright: 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        behavior: url(../pie.htc);

        &:hover{
            background: white;
        }
        &.loading>span>i{
            background: url(../img/351.gif)  center center no-repeat !important;
        }

        >span{            
            height: 24px;
            width: 24px;

            >i{
                margin-right: 0px;
            }
        }
    }

    .nav-tabs > li.active>a{
        background-image: linear-gradient(bottom, rgb(255,255,255) 67%, rgb(248,248,248) 100%);
        background-image: -o-linear-gradient(bottom, rgb(255,255,255) 67%, rgb(248,248,248) 100%);
        background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 67%, rgb(248,248,248) 100%);
        background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 67%, rgb(248,248,248) 100%);
        background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 67%, rgb(248,248,248) 100%);
        border-top: 3px solid $customersNavButtons;
        background-image: -webkit-gradient(     linear,     left bottom,     left top,
        color-stop(0.67, rgb(255,255,255)),     color-stop(1, rgb(248,248,248)) );
        -webkit-box-shadow: inset 0px 1px 0px #ffffff, 0px -1px 2px rgba(0,0,0,.1);
        -moz-box-shadow: inset 0px 1px 0px #ffffff, 0px -1px 2px rgba(0,0,0,.1);
        box-shadow: inset 0px 1px 0px #ffffff, 0px -1px 2px rgba(0,0,0,.1);
        padding-top: 6px;
        behavior: url(../pie.htc);
    }

   

    .tab-content{
        z-index: 1000;
        position: relative;
        overflow-y: auto;
        @include box-shadow(-3px 0px 3px rgba(0,0,0,.1));
        background: $white;
        height: 490px;
        behavior: url(../pie.htc);
       

       &.moved{
        margin-top: 56px;
       }
         .tab-pane{
            width: 100%;
            //padding: 27px 18px 27px 18px;
            overflow: hidden;

            
            

            .wrapper{
                padding: 27px 18px 27px 18px;
            }
            &.edit-mode{
                      

                .control-group{
                    border-bottom: 1px solid #f3f3f3;
                    margin-bottom: 9px;

                    &.actions{
                        padding-left: 32%;
                        border-bottom: none;

                        >.btn{
                            margin-right:9px;
                        }
                    }

                    &.error .controls>input{
                        margin-bottom: 9px;
                    }
                }

                .control-label{
                    padding-top: 9px;
                }

                label.checkbox{
                    font-weight: normal;
                    color: $primaryLink;
                    padding-top:0px;
                    margin-bottom:9px;
                }
                .controls{
                    .add-more{
                        font-size: 11px;
                        color: $primaryLink;
                        clear: both;
                        margin-bottom: 6px;
                        &.btn{
                            color: $xDarkGray;
                            margin-top: 6px;
                        }
                    }
                    .item-remove{
                        margin-top: 10px;        
                    }

                    .sms-enable{
                        margin-top:8px;
                    }

                    .phone-number{
                        overflow: hidden;
                        select{
                            width: 180px;
                        }
                        >* {
                            float: left;
                            margin-right: 6px;
                        }


                    }
                    &.social-network-controls{
                        margin-left: 0px;
                    }
                }
                #social-media-info .control-label{
                    width:0px;
                }
            }
         }

        .tab-pane .wrapper>section{


            header{
                margin-bottom: 18px;
                border-bottom: 1px dashed $borderLine;
                overflow: hidden;
                padding-right: 9px;

                h2{
                    font-size: 18px;
                    font-weight: normal;
                    margin-bottom: 0px;
                    color: $xBlue;
                    float: left;

                }

                .tools{
                    float: right;
                    line-height: 36px;
                }
            }



             // STYLES for non-form control groups
            div.control-group{
                margin-bottom: 3px;
                @include clearfix;
                
                &.profile-picture{
                    margin-bottom: 36px;
                    .profile-pic{
                        @extend .pull-right;
                    }
                    .details{
                        padding-top: 12px;
                        div.name{
                            color: $xLighterGray;
                        }
                        input{
                            margin-bottom:9px;
                        }
                    }

                }

                &.company-name{
                    font-size: 16px;
                    color: $xLighterGray;
                }

                &.company-logo{
                    img{
                        display: block;
                        margin-bottom: 9px;
                    }

                }
              
            }
            .control-label{
                color: $xDarkGray;
                >.optional{
                    font-size: 10px;
                    font-style: italic;
                    font-weight: normal;
                    color: #b8c773;
                    text-transform: none;
                    margin-top: -3px;
                }
            }
            div.control-label{
                width: 30%;
                font-weight: bold;
                float: left;
                text-transform: uppercase;
                color: $xLighterGray;
                
            }
            label.control-label{
                width: 90px;
            }

            div.controls{
               margin-left: 32%;
               color: $xDarkGray;
               p{
                padding: 0px 9px 3px 9px;
                margin-bottom: 4px;
                border-bottom: 1px solid #f3f3f3;
               }
               a.link-primary{
                   font-size: 11px;
               }

               .chosen-process{
                    margin-bottom: 9px;
               }
            }

            


            &#locale-info{
                overflow: hidden;
                label{
                    padding-top: 9px;
                    width: 100%;
                    text-align: left;
                    color: #808080;
                    font-weight: bold;
                    text-transform: uppercase;
                    
                }

                .controls{
                    margin-left: 0px;
                }

                .control-group{
                    width: 50%;
                    float: left;
                }
            }

            &#pass-info {
                label{
                    padding-top: 9px;
                    width: 30%;
                    text-align: left;
                    color: #808080;
                    font-weight: bold;
                    text-transform: uppercase;
                }


                .controls{
                    margin-left: 10px;
                }

                #pass-placeholder{
                    overflow: hidden;
                }
                #pass-placeholder .control-label{
                    float: left;
                    padding-top: 0px;
                    line-height: 22px;
                    width: 20%;

                }
                #pass-placeholder .control-group{
                    display: block;
                    line-height: 22px;
                    .btn{
                        margin-left: 18px;
                    }
                }
                

                #password-submit .controls{
                    margin-left: 30%;
                }

                #pass-change-form .form-wrapper{
                    float: left; width: 350px;
                }
                
            }

            &#personal-info{
                border-bottom: 1px solid $borderLine;


            }

            input.job-title{
                text-transform: none;
            }      

            // Select country chosen processed select

            #select_country_chzn a{
                height: 28px;

                span{
                    line-height: 28px;
                }
            }
        }
    }

    #company-data{
        #company-name-info{
            h2{
                font-size: 18px;
                color: $xDarkGray;
                padding-left: 0;
                font-weight: normal;
                margin-bottom: 18px;
            }
        }
    }

    #contact-channels{

        .contact-persons-list{

            .contact-person{
                margin-bottom: 9px;
                position: relative;
                &.expanded{
                    @include box-shadow(0px 1px 2px #d9d9d9);
                    .contact-info{
                        @include box-shadow(0px 1px 2px #d9d9d9);
                    }
                    .content.contact-details{
                        display: block;
                        overflow: hidden;
                    }
                }

                &.placeholder{
                    .details{
                        padding-top: 21px;
                    }
                }
                .content.contact-details{
                    display: none;
                    padding: 9px;
                    .column{
                        width: 48%;

                        &.left{
                            float: left;
                        }

                        &.right{
                            float: right;
                        }
                    }
                    section{
                        margin-bottom: 9px;
                    }
                    section>header{
                        margin-bottom: 6px;
                        font-size: 10px;
                    }
                }

                .delete-overlay{
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    height: 54px;
                    width: 386px;
                    font-size: 14px;
                    text-align: center;
                    color: white;
                    z-index: 0;
                    padding-top: 9px;
                    .bg{
                         background: $xRed;
                         opacity: .8;
                         width: 100%;
                         height: 63px;
                         position: absolute;
                         top:0;
                         left:0;
                         z-index: 10;
                    }
                    span{
                        position: relative;
                        z-index: 100;
                        padding-top: 9px;
                        .btn{
                            margin-right: 9px;
                            padding-left: 6px;
                            padding-right: 6px;
                            font-weight: bold;
                        }
                    }
                }
            }
            .contact-info{
                background: #f3f3f3;
                height: 63px;
                position: relative;
                margin-bottom: 0px;
                .tools{
                    list-style-type: none;
                    position: absolute;
                    top:9px;
                    right: 9px;
                    opacity: 0;
                    @include transition(opacity .25s ease-in);
                    >li{
                        display: inline-block;
                        margin-left: 9px;

                        .link-warning>i{
                            margin-top: -3px;
                        }

                        a.link-small span{
                            font-size: 11px;
                        }
                    }
                }
                span{
                    color: $xBlue;
                    font-size: 16px;
                }

                &:hover{
                    
                    cursor: pointer;
                    background: lighten(#f3f3f3, 1%);
                    .tools{
                        display: block;
                        opacity: 1;
                        @include transition(opacity .25s ease-in);

                    }
                }

                .profile-pic{
                    border: none;
                    width: 63px;
                    height: 63px;
                    >img{
                        margin-top: 0px;
                    }
                }

                .details{
                    padding-top: 14px;
                }
            }
        }
    }

    #my-profile-info{
        
            .profile-pic{
                width: 63px;
                height: 63px;
                border: none;
                margin-right: 18px;
            }
            .details{
                padding-top: 12px;
            }

            margin-bottom: 27px;
        }

        .controls>img{
            margin-bottom: 9px;
        }
    }
    select{
        width: 230px;
    }   

    .edit-mode #my-profile-info{
        #change-avatar-form{
            margin:0px 9px 0px 0px;

            .alert-wrapper {
                display: inline-block;
            }
        }
        .profile-pic{
            margin-bottom: 9px;
        }
        .action{
            margin-left: 18px;

        }


}

.modal.modal-my-account .modal-footer{
    width: 690px;
            position: absolute;
            top: 125px;
            left: 0;
            padding-left:0;
            padding-right: 0px;
            padding-top: 18px;
            text-align: center;
            @include border-radius(0px);
            background: white;
            border-top: none;
            border-bottom: 2px solid #cacaca;
            >a{
                float: right;
                margin-right: 18px;
            }
        }



#my-account-tabs ul.nav li.disabled{
    cursor: default;
    opacity: 0.65;
    filter: alpha(opacity=65);
}
#my-account-tabs ul.nav li.disabled a{
    cursor: default;
}
#nav li.disabled{
    cursor: default;
    opacity: 0.65;
    filter: alpha(opacity=65);
}
#nav li.disabled a{
    cursor: default;
}
.contact-person.disabled{
    cursor: default;
    }
.contact-person.disabled .contact-info{
    cursor: default !important;
}
.contact-person.disabled .contact-info:hover{
    cursor: default !important;
}
.action-bar.disabled{
    cursor: default !important;
}
.module-contact.module-empty section.content{
    padding:0 !important;
}

.ie9 .modal.modal-my-account .nav-tabs > li.active>a,
.lt-ie9 .modal.modal-my-account .nav-tabs > li.active>a{
    background: #ffffff;
}