<div class="modal-body">
	<div class="content">
		<header>
			<h2 data-localize="general.thank-you">Thank you!</h2>
			<% if(!quote.isProject) { %>
			<p data-localize="modules.quotes.quote-sent">
				Your quote has been successfully sent. </p>
			<% } %>

			<% if(quote.isProject) { %>
			<p data-localize="modules.quotes.project-sent">
				Your project has been successfully sent. </p>
			<% } %>

		</header>
		<p class="tools">

			<% if(!quote.isProject) { %>
			<a class="btn btn-large btn-cta" href="#!quote/<%= quote.id %>" id="view-quote-button" data-localize="modules.quotes.show-quote">Show quote</a>
			<% } %>

			<% if(quote.isProject) { %>
			<a class="btn btn-large btn-cta" href="#!project/<%= quote.id %>" id="view-project-button" data-localize="modules.projects.show-project">Show project</a>
			<% } %>

			<% if(!quote.isProject) { %>
			<button class="btn btn-primary btn-quote-request btn-large raq" ><i class="icon-qr"></i>
				<span data-localize="modules.quotes.raq-another">Request another quote</span></button>
			<% } %>

			<% if(quote.isProject) { %>
			<button class="btn btn-primary btn-quote-request btn-large rap" ><i class="icon-qr"></i>
				<span data-localize="modules.projects.rap-another">Request another project</span></button>
			<% } %>

		</p>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-large" data-dismiss="modal" data-localize="general.close">Close</button>
</div>