 <li class="uploading" fileindex="<%= fileIndex  %>">
                                    <span class="filename"><%= file.name %>  <% if(typeof pasted != 'undefined') { %> <span class="pasted" data-localize="info-pasted"> (<span data-localize="modules.quotes.file-from-clipboard">file from clipboard</span>) </span><% } %></span>
                                  
                                    <span class="tools">
                                        <div class="progress progress-mini">
                                           <div class="bar" style="width: 0%" data-progress="0"></div>
                                        </div>
                                        <a class="file-remove" href="javascript:void(0)"><i class="icon-file-remove"></i></a>
                                    </span>
                                  </li>