<div public-content-box class="public-content-box">
	<div class="content">
		<div public-content-box-header="sign-in"></div>
		<div class="body">
			<div class="wrapper">
				<alerts context="public"></alerts>
				<h3 translate>general.login-pz</h3>
				<alerts context="public.sign-in"></alerts>
				<div class="alert alert-info" ng-if="!securityConfiguration.localAuthEnabled">
					<span class="alert-content" translate>
						public.sso.disclaimer
					</span>
				</div>
				<form name="signInForm" ng-show="securityConfiguration.localAuthEnabled">
					<fieldset>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-user"></i>
								</span>
								<input class="form-control"
								       id="username"
								       type="text"
								       name="uUsername"
								       ng-model="username"
								       placeholder="{{ 'public.sign-in.email-username' | translate }}"
								       auto-fill-sync
								       tabindex="1"
								       required>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-lock"></i>
								</span>
								<input class="form-control"
								       id="password"
								       type="password"
								       name="uPassword"
								       ng-model="password"
								       placeholder="{{ 'public.sign-in.password' | translate }}"
								       auto-fill-sync
								       tabindex="2"
								       required>
							</div>
						</div>
					</fieldset>
					<div class="security-buttons-container">
						<button class="btn btn-success pull-left"
						        loading="{{ signInInProgress }}"
						        ng-click="!signInInProgress && signIn()"
						        ng-disabled="signInForm.$invalid"
						        tabindex="3">
							<span translate>
								public.actions.sign-in
							</span>
						</button>
						<div>
							<a class="forgotten-pass link" ui-sref="app.public.forgotten-password" translate>public.sign-in.having-trouble</a>
						</div>
					</div>
				</form>
				<div ng-show="securityConfiguration.ssoEnabled" class="cloud-sign-in">
					<div ng-show="securityConfiguration.localAuthEnabled" class="or-section">
						<span translate="general.or"></span>
					</div>
					<button class="btn cloud-sign-in-button"
							ng-click="cloudLogIn()"
							tabindex="3">
						<span translate>
							public.sso.sign-in
						</span>
					</button>
				</div>
			</div>
		</div>
		<disclaimer></disclaimer>
	</div>
</div>
