<div class="module module-quotes-summary module-report">
                        <a class="content">
                            <div class="active-quotes"><strong>5</strong> Active quotes</div>
                            <div class="waiting-quotes"><strong>23</strong> Waiting for accept</div>
                        </a>
                    </div>

                    <div class="module module-projects-summary module-report">
                        <a class="content" href="wp.pl">
                            <div class="open-projects"><strong>5</strong> Active quotes</div>
                            <span class="total-agreed">Total agreed <strong>$23.189</strong></span>
                        </a>
                    </div>
                    <div class="module module-invoices-summary module-report">
                        <div class="content row">
                            <div class="span2"><div class="value">Next invoice<br><strong>$1243.56</strong></div></div>
                            <div class="span2"><div class="due-date">Due<br><strong>23/10/2012</strong></div></div>
                        </div>
                    </div>