
<header id="main-header" class="navbar" layout="report-print">
  <div class="container">
    <div class="logo logo-big"><img onerror="setDefaultLogo(this)"></div>
    <h1 data-localize="modules.reports.report-print">Report print</h1>
  </div>
</header>     
<header id="sub-header" >
  <div class="container">
    <div class="actions">
      <label class="checkbox" id="include-table-checkbox">
      	<input type="checkbox" class="include-checkbox" > 
      	<span data-localize="modules.reports.include-table">Include table</span>
      </label>
      <label class="checkbox" id="include-chart-checkbox">
      	<input type="checkbox" class="include-checkbox" > 
      	<span data-localize="modules.reports.include-chart">Include chart</span>
      </label>
      <a class="btn btn-large btn-primary" id="btn-print" data-localize="modules.reports.print-report">
      Print report
      </a>
    </div>
  </div>
</header>

<div id="main-container" class="container" style="position: relative">
  <div class="row">
    <div class="span10 module">
      <div class="content">
        <header>
          <div class="title pull-left">
            <h2></h2>
            <h3>
              <strong>
                <span data-localize="modules.reports.date">Date</span>:
              </strong> 
              <span class="date-container"></span>
            </h3>
            <h3>
            	<strong>
            		<span data-localize="general.office">Office</span>:
            	</strong> 
            	<span class="office-container"></span>
            </h3>
          </div>
          <div class="logo pull-right logo-big">
            <img onerror="setDefaultLogo(this)" />
          </div>

        </header>

        <section class="chart-section" id="chart-view">

        </section>

        <section class="table-section" id="table-view">

        </section>
        <footer>
          <span data-localize="modules.reports.report-generated-using-xtrf">
          	Report generated using XTRF Management Systems
          </span>
          <span class="logo xtrf-logo">
          	
          </span>
        </footer>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$("#btn-print").click(function(){
  window.print();
});

$('#sub-header').waypoint(function(event, direction) {
               $("body").toggleClass('sticky-bar');

              });


</script>
 <link rel="stylesheet" type="text/css" href="static/css/print.css" media="print"/>
