
                       <div class="table-wrapper">

                         
                         <div class="table-trimmer-bottom">
                           <span data-localize="modules.reports.table-trimmed-info">This table was trimmed due to its size.</span> <a class="btn btn-large btn-primary" href="<%= reportURL %>" data-localize="modules.reports.show-full-report">Show full report</a>
                         </div>
                         <div class="table-trimmer">
                         </div>
                         

                       </div>
