
               <section class="module section-header">
                 <header>
                   <h2 data-localize="modules.reports.header">Reports</h2>
                 </header>
               </section>
               <section class="content reports-list">

               		<div class="empty-set-placeholder row">
                            <div class="span8 active-counter">
                                <div class="counter"><span data-localize="general.you-have">You have</span><big>0</big><span data-localize="general.reports-defined">reports defined</span></div>
                            </div>
                            
                        </div>



               </section>
             