<div class="modal modal-iconic modal-contact" id="myModal">
	<div class="modal-header">
		<h3 data-localize="modules.projects.leave-feedback.sent-modal.title">Your feedback has been sent</h3>
		<button data-dismiss="modal" class="close" type="button"><i class="icon icon-modal-close"></i></button>
	</div>
	<div class="modal-body">
		<div class="content">
			<p data-localize="modules.projects.leave-feedback.sent-modal.content">Thank you for sharing, we are currently processing it. </p>
			<button data-localize="general.close" data-dismiss="modal" class="btn btn-cta btn-large">Close</button>
		</div>
	</div>
</div>